@import '~gmf/sass/vars.scss';

.request-spinner {
  z-index: $above-all;
  position: fixed;
  user-select: none;
  display: none;

  i {
    position: fixed;
    height: 3rem;
    top: 48%;
    left: 37%;
  }
}
