@import '../../../less/desktop.less';
@import '../../../../../src/modules/import/style/import.less';

@brand-primary: #9FB6CC;
@brand-secondary: #D3DBE3;

header div img {
  margin-left: 1rem;
  height: 4.1rem;
  vertical-align: -2.7rem;
}
header div span {
  vertical-align: -1.9rem;
}

.gmf-theme-selector li {
  flex-direction: column;
}

.import {
  input[type="file"] {
    display: none;
  }
  .tt-menu {
    background-color: white;
    color: black;
    line-height: 1.6em;
    .tt-suggestion {
      cursor: pointer;
    }
  }
}

@theme-selector-columns: 3;
