<ul>
  <li ng-repeat="node in ::node.children" ngeo-layertreenode="node" ngeo-layertreenode-map="layertreeCtrl.map" ngeo-layertreenode-layerexpr="layertreeCtrl.layerExpr">
    {{node.name}}
    <input type="checkbox" ng-if="::!node.children"
        ng-model="layertreenodeCtrl.getSetActive" ng-model-options="{getterSetter: true}"/>
    <button ng-if="::!node.children"
        ng-click="ctrl.onButtonClick(node, layertreenodeCtrl.layer)">i</button>
    <div ng-if="::node.children" ng-include="layertreeCtrl.nodeTemplateUrl"></div>
  </li>
</ul>
