*.pyc
.*.swp
/.transifexrc
/package-lock.json
/.build/
/node_modules/
/dist/
/.tx/config
/.tx/ngeo.ngeo-*
/.tx/ngeo.gmf-*
/contribs/gmf/apps/.tx/config
/contribs/gmf/apps/.tx/ngeo.gmf-*
/examples/simple.min.js
/contribs/gmf/build/
/contribs/gmf/fonts/gmf-icons.eot
/contribs/gmf/fonts/gmf-icons.ttf
/contribs/gmf/fonts/gmf-icons.woff
/contribs/gmf/fonts/FontAwesome*
/contribs/gmf/fonts/fontawesome*
/contribs/gmf/cursors/*.cur
/contribs/gmf/examples/https.js
/test/spec/templatecache.js
/test/spec/gmftemplatecache.js
