*.pyc
.*.swp
/.build
/node_modules
/dist
/contribs/gmf/build
/contribs/gmf/fonts/gmf-icons.eot
/contribs/gmf/fonts/gmf-icons.ttf
/contribs/gmf/fonts/gmf-icons.woff
/.tx/config
/.tx/ngeo.ngeo-*
/.tx/ngeo.gmf-*
/examples/simple.min.js
contribs/gmf/fonts/FontAwesome*
contribs/gmf/fonts/fontawesome*

/.idea/
