/karma-conf.js
/lingua.cfg
/Makefile
/ngeo_deploy_key
/TODO.md
/npm.mk
/secrets.tar
/secrets.tar.enc
/test/
/.build/
/examples/
/docs/
/contribs/gmf/examples/
/contribs/gmf/apps/
/contribs/gmf/build/
