dist: trusty
sudo: false

language: node_js
node_js:
- "10"

notifications:
  email: false

env:
  global:
  - CXX=g++-4.8
  - secure: "l/McmiK4djffT04/+5MxW9sy4yO80Rf6vq+nZb5P647A6pXpPLdoRLGo50CtYRiKnFLiChHk2QxUOspeKuIKE+UQAm9dGmyMgfYkj/jwxIBd0YQqavaGzoWo5U1ZSGKeVd3kJlIaUJyLlnKbBOmFCY00c4JLveAagsV53lbephY="
  - GIT_REMOTE_NAME=origin
  - GITHUB_USERNAME=camptocamp
  - CHROME_BIN=/opt/google/chrome/chrome
  - DISPLAY=:99.0
  - MAIN_BRANCH=2.4

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - python-virtualenv
  chrome: stable

cache:
  apt: true
  pip: true
  npm: false

before_install:
- python3 --version
- /opt/google/chrome/chrome --version
- git config --global user.name "Travis"
- git config --global user.email "travis@travis-ci.org"
- buildtools/set-version

install:
- export GIT_BRANCH=${TRAVIS_BRANCH}
- if [ "${TRAVIS_REPO_SLUG}" = "camptocamp/ngeo" -a "${TRAVIS_PULL_REQUEST}" = "false" ]; then export IS_HOME=TRUE; else export IS_HOME=FALSE; fi
- if [ ${IS_HOME} = TRUE ]; then buildtools/travis-decrypt.sh; fi
- git fetch origin ${TRAVIS_BRANCH}:${TRAVIS_BRANCH}
- git config --add diff.renamelimit 0

before_script:
- export PACKAGE_VERSION=`buildtools/get-version.sh version`
- echo "_auth = ${NPM_AUTH}" > ~/.npmrc
- echo "email = stephane.brunner@camptocamp.com" >> ~/.npmrc
- sh -e /etc/init.d/xvfb start

script:
# Lint
- make lint
- make check-examples-checker
- make test
# Webpack build of ngeo/gmf examples and gmf apps
- if [ "${TRAVIS_PULL_REQUEST}" = false ]; then export NODE_ENV=production; fi
- make examples-hosted > /dev/null
- buildtools/test_examples.py 1/1
#- npm run typecheck
# Generate API doc
- npm install --prefix openlayers_src https://api.github.com/repos/openlayers/openlayers/tarball/v5.3.1
- '! (npm run typecheck|sed -r "s/\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[mGK]//g"|grep ^src)'
- '! (npm run typecheck|grep api)'
- '! (npm run typecheck|grep gmf)'
- '! (npm run typecheck|grep test)'
- '! (npm run typecheck|grep examples)'
- npm run doc > /dev/null
- npm run build-api

deploy:
  - provider: script
    skip_cleanup: true
    script: buildtools/travis-deploy.sh
    on:
      repo: camptocamp/ngeo
      all_branches: true

notifications:
  email:
    recipients:
      - stephane.brunner@camptocamp.com
    if: branch = env(MAIN_BRANCH)
