dist: trusty
sudo: false

language: node_js
node_js:
- "8"

notifications:
  email: false

env:
  global:
  - CXX=g++-4.8
  - secure: "l/McmiK4djffT04/+5MxW9sy4yO80Rf6vq+nZb5P647A6pXpPLdoRLGo50CtYRiKnFLiChHk2QxUOspeKuIKE+UQAm9dGmyMgfYkj/jwxIBd0YQqavaGzoWo5U1ZSGKeVd3kJlIaUJyLlnKbBOmFCY00c4JLveAagsV53lbephY="
  - GIT_REMOTE_NAME=origin
  - GITHUB_USERNAME=camptocamp
  - CHROME_BIN=/opt/google/chrome/chrome
  - DISPLAY=:99.0
  - MAIN_BRANCH=2.3

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - python-virtualenv
  chrome: stable

cache:
  apt: true
  pip: true

before_install:
- python3 --version
- /opt/google/chrome/chrome --version
- git config --global user.name "Travis"
- git config --global user.email "travis@travis-ci.org"

install:
- export GIT_BRANCH=${TRAVIS_BRANCH}
- if [ "${TRAVIS_REPO_SLUG}" = "camptocamp/ngeo" -a "${TRAVIS_PULL_REQUEST}" = "false" ]; then export IS_HOME=TRUE; else export IS_HOME=FALSE; fi
- if [ ${IS_HOME} = TRUE ]; then buildtools/travis-decrypt.sh; fi
- git fetch origin ${TRAVIS_BRANCH}:${TRAVIS_BRANCH}

before_script:
- export PACKAGE_VERSION=`buildtools/get-version.sh version`
- echo "_auth = ${NPM_AUTH}" > ~/.npmrc
- echo "email = stephane.brunner@camptocamp.com" >> ~/.npmrc
- sh -e /etc/init.d/xvfb start

script:
# Lint
- make lint
- make check-examples-checker
# Unit tests
- make test
# Webpack build of ngeo/gmf examples and gmf apps
- if [ "${TRAVIS_PULL_REQUEST}" = false ]; then export NODE_ENV=production; fi
- make examples-hosted
- buildtools/test_examples.py 1/1
# Generate API doc
- make .build/apidoc

deploy:
  - provider: script
    skip_cleanup: true
    script: buildtools/travis-deploy.sh
    on:
      repo: camptocamp/ngeo
      all_branches: true
