beautifulsoup4==4.7.1
glob2==0.6
htmlmin==0.1.12
Mako==1.2.4
requests==2.27.1
transifex-client==0.12.5  # rq.filter: <=0.12.5
urllib3==1.26.15
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
