<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>Activate tools example</title>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
  <link href="toolActivate.css" rel="stylesheet"></head>
  <body ng-controller="MainController as ctrl">
    <div id="map" ngeo-map="ctrl.map"></div>
    <div ngeo-btn-group>
      <button ngeo-btn class="btn btn-primary" ng-model="ctrl.drawPoint.active">Point</button>
      <button ngeo-btn class="btn btn-primary" ng-model="ctrl.drawLine.active">Line</button>
      <button ngeo-btn class="btn btn-primary" ng-model="ctrl.drawPolygon.active">Polygon</button>
    </div>
    <div id="popup-content"></div>
    <p id="desc">This example shows how to use <code><a href="../apidoc/ngeo.misc.ToolActivate.html" title="Read our documentation">ngeo.misc.ToolActivate</a></code> objects with the <code><a href="../apidoc/ngeo.misc.ToolActivateMgr.html" title="Read our documentation">ngeo.misc.ToolActivateMgr</a></code>to active only one map control at once. If none draw control is choose, the click on the map is enabled.</p>
    <script type="text/javascript" src="dist/vendor.js"></script>
  <script type="text/javascript" src="commons.js"></script><script type="text/javascript" src="toolActivate.js"></script></body>
</html>
