<div
  class="ngeo-displaywindow"
  ng-show="$ctrl.open"
  ng-style="$ctrl.style"
>

  <div class="container">

    <button
      type="button"
      class="btn fa-close close"
      ng-click="$ctrl.close()">
    </button>

    <div class="animation-container">
      <div class="slide-animation ">
        <div
          class="header"
          ng-if="$ctrl.title !== null">
          <p class="title">{{ $ctrl.title }}</p>
        </div>
        <div
          class="details"
          ng-if="$ctrl.content !== null"
          ng-bind-html="$ctrl.content"></div>
        <div
          class="details"
          ng-if="$ctrl.url !== null">
          <iframe
            frameborder="0"
            type="text/html"
            ng-src="{{ $ctrl.urlTrusted }}"></iframe>
        </div>
      </div>
    </div>

  </div>

</div>
