<!DOCTYPE html>
<html lang="{{mainCtrl.lang}}" ng-controller="AlternativeMobileController as mainCtrl" ng-strict-di>
  <head>
    <title ng-bind-template="{{'Alternative Mobile Application'|translate}}">GeoMapFish</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="dynamicUrl" content="https://geomapfish-demo-dc.camptocamp.com/2.4/dynamic.json">
    <meta name="interface" content="mobile_alt">
    <link rel="shortcut icon" href="favicon.ico" />
    
    <link href="mobile_alt.css" rel="stylesheet">
    
  </head>
  <body ng-class="{'gmf-mobile-nav-is-visible': mainCtrl.navIsVisible(),
                   'gmf-mobile-nav-left-is-visible': mainCtrl.leftNavVisible,
                   'gmf-mobile-nav-right-is-visible': mainCtrl.rightNavVisible}">
  <div ng-show="mainCtrl.loading" class="loading-mask">
    <i class="fa fa-spinner fa-spin spinner-loading-mask"></i>
    &nbsp;
    <img src="logo.png" />
  </div>
    <main ng-class="{'gmf-search-is-active': mainCtrl.searchOverlayVisible}">
      <gmf-map
        gmf-map-map="mainCtrl.map"
        gmf-map-manage-resize="mainCtrl.manageResize"
        gmf-map-resize-transition="mainCtrl.resizeTransition"
        ngeo-map-query=""
        ngeo-map-query-map="::mainCtrl.map"
        ngeo-map-query-active="mainCtrl.queryActive"></gmf-map>
      <gmf-displayquerywindow
        gmf-displayquerywindow-featuresstyle="::mainCtrl.queryFeatureStyle"
        gmf-displayquerywindow-defaultcollapsed="false">
      </gmf-displayquerywindow>
      <div
        class="gmf-mobile-measure"
        gmf-mobile-measurearea
        gmf-mobile-measurearea-active="mainCtrl.measureAreaActive"
        gmf-mobile-measurearea-precision="2"
        gmf-mobile-measurearea-sketchstyle="::mainCtrl.customMeasureStyle"
        gmf-mobile-measurearea-map="::mainCtrl.map">
      </div>
      <div
        class="gmf-mobile-measure"
        gmf-mobile-measurelength
        gmf-mobile-measurelength-active="mainCtrl.measureLengthActive"
        gmf-mobile-measurelength-precision="2"
        gmf-mobile-measurelength-sketchstyle="::mainCtrl.customMeasureStyle"
        gmf-mobile-measurelength-map="::mainCtrl.map">
      </div>
      <div
        class="gmf-mobile-measure"
        gmf-mobile-measurepoint
        gmf-mobile-measurepoint-active="mainCtrl.measurePointActive"
        gmf-mobile-measurepoint-coordinateDecimals="2"
        gmf-mobile-measurepoint-layersconfig="::mainCtrl.elevationLayersConfig"
        gmf-mobile-measurepoint-map="::mainCtrl.map"
        gmf-mobile-measurepoint-sketchstyle="::mainCtrl.customMeasureStyle"
        gmf-mobile-measurepoint-format="'{x} / {y}'">
      </div>
      <button class="gmf-mobile-nav-trigger gmf-mobile-nav-left-trigger"
        ng-click="mainCtrl.toggleLeftNavVisibility()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="1em" width="1em"><path d="M19.984 6.256L10 1.264.016 6.256 10 11.248l9.984-4.992zM10 2.921l6.67 3.335L10 9.591 3.33 6.256 10 2.921zM17.984 9l2 .999L10 14.992.016 10l2-1L10 12.992zm0 3.743l2 1L10 18.736.016 13.744l2-1L10 16.736z"></svg>
      </button>
      <gmf-search gmf-search-map="mainCtrl.map"
        gmf-search-datasources="mainCtrl.searchDatasources"
        gmf-search-clearbutton="true"
        gmf-search-coordinatesprojections="mainCtrl.searchCoordinatesProjections"
        gmf-search-listeners="::mainCtrl.searchListeners"
        gmf-search-delay="mainCtrl.searchDelay">
      </gmf-search>
      <button class="gmf-mobile-nav-trigger gmf-mobile-nav-right-trigger"
        ng-click="mainCtrl.toggleRightNavVisibility()">
        <i class="fa fa-wrench"></i>
      </button>
      <div class="overlay" ng-click="mainCtrl.hideNav()"></div>
      <div
        class="gmf-search-overlay"
        ng-click="mainCtrl.searchOverlayVisible = false">
      </div>
      <button ngeo-mobile-geolocation=""
        ngeo-mobile-geolocation-map="::mainCtrl.map"
        ngeo-mobile-geolocation-options="::mainCtrl.mobileGeolocationOptions">
        <span class="far fa-dot-circle"></span>
      </button>
      <ngeo-displaywindow
        content="mainCtrl.displaywindowContent"
        desktop="false"
        height="mainCtrl.displaywindowHeight"
        open="mainCtrl.displaywindowOpen"
        title="mainCtrl.displaywindowTitle"
        url="mainCtrl.displaywindowUrl"
        width="mainCtrl.displaywindowWidth"
      ></ngeo-displaywindow>
      <div class="gmf-app-map-messages">
        <gmf-disclaimer gmf-disclaimer-map="::mainCtrl.map"></gmf-disclaimer>
        <div class="alert alert-info alert-dismissible fade in hidden-xs" role="alert" ng-if="::mainCtrl.redirectUrl !== ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="{{'Close' | translate }}"><span aria-hidden="true" class="fa fa-times"></span></button>
          <span translate
            translate-params-url="::mainCtrl.redirectUrl">
            You're using the mobile application. Check out the <a href="{{url}}">standard application</a>.</span>
        </div>
      </div>
    </main>
    <nav class="gmf-mobile-nav-left" gmf-mobile-nav>
      <header>
        <a class="gmf-mobile-nav-go-back" href>{{'Back' | translate}}</a>
        <span class="gmf-mobile-nav-header-title">{{'Data' | translate}}</span>
      </header>
      <!-- main menu -->
      <div class="gmf-mobile-nav-active gmf-mobile-nav-slide">
        <ul>
          <li>
            <a href data-target="#background" data-toggle="slide-in" class="gmf-mobile-nav-button">{{'Background' | translate}}</a>
          </li>
          <li>
            <a href data-target="#themes" data-toggle="slide-in" class="gmf-mobile-nav-button">{{'Themes' | translate}}</a>
          </li>
        </ul>
        <gmf-layertree
          gmf-layertree-dimensions="mainCtrl.dimensions"
          gmf-layertree-map="::mainCtrl.map"
          gmf-layertree-openlinksinnewwindow="true">
        </gmf-layertree>
      </div>
      <gmf-backgroundlayerselector
        id="background"
        class="gmf-mobile-nav-slide"
        data-header-title="{{'Background' | translate}}"
        gmf-backgroundlayerselector-map="::mainCtrl.map"
        gmf-backgroundlayerselector-select="mainCtrl.hideNav()">
      </gmf-backgroundlayerselector>
      <gmf-themeselector
        id="themes"
        class="gmf-mobile-nav-slide"
        data-header-title="{{'Themes' | translate}}"
        gmf-themeselector-currenttheme="mainCtrl.theme"
        gmf-themeselector-filter="::mainCtrl.filter"
        gmf-mobile-nav-back-on-click>
      </gmf-themeselector>
    </nav>
    <nav class="gmf-mobile-nav-right" gmf-mobile-nav>
      <header>
        <a class="gmf-mobile-nav-go-back" href>{{'Back' | translate}}</a>
        <span class="gmf-mobile-nav-header-title">{{'Tools' | translate}}</span>
      </header>
      <!-- main menu -->
      <div class="gmf-mobile-nav-active gmf-mobile-nav-slide">
        <ul>
          <li>
            <a href data-target="#measure-tools" data-toggle="slide-in" class="gmf-mobile-nav-button">{{'Measure tools' | translate}}</a>
            <a href data-target="#login" data-toggle="slide-in" class="gmf-mobile-nav-button">{{'Login' | translate}}</a>
          </li>
        </ul>
      </div>
      <div id="measure-tools" class="gmf-mobile-nav-slide" data-header-title="{{'Measure tools' | translate}}">
        <ul>
          <li>
            <a ngeo-btn
              ng-click="mainCtrl.hideNav()"
              class="gmf-mobile-nav-button"
              ng-model="mainCtrl.measurePointActive">
              <span class="fa fa-fw" ng-class="{'fa-check': mainCtrl.measurePointActive}"></span>
              {{'Coordinate' | translate}}
            </a>
          </li>
          <li>
            <a ngeo-btn
              ng-click="mainCtrl.hideNav()"
              class="gmf-mobile-nav-button"
              ng-model="mainCtrl.measureLengthActive">
              <span class="fa fa-fw" ng-class="{'fa-check': mainCtrl.measureLengthActive}"></span>
              {{'Length' | translate}}
            </a>
          </li>
          <li>
            <a ngeo-btn
              ng-click="mainCtrl.hideNav()"
              class="gmf-mobile-nav-button"
              ng-model="mainCtrl.measureAreaActive">
              <span class="fa fa-fw" ng-class="{'fa-check': mainCtrl.measureAreaActive}"></span>
              {{'Area' | translate}}
            </a>
          </li>
        </ul>
      </div>
      <gmf-authentication id="login" class="gmf-mobile-nav-slide" data-header-title="{{'Login' | translate}}"
        gmf-authentication-info-message="mainCtrl.loginInfoMessage"
        gmf-mobile-nav-back="authCtrl.gmfUser.username !== null">
      </gmf-authentication>
    </nav>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,default-3.6,Array.prototype.includes,Object.entries"></script>
    
    <script src="mobile_alt.js"></script>
    
  </body>
</html>
