.gmf-print-custom-scale {
    padding: 0.19rem 1.25rem;
    .gmf-print-custom-scale-input {
        width: 5rem;
    }
}

.gmf-print-smtp-message {
    background-color: white;
    clear: both;
    padding: 10px;

    button {
        float: right;
    }

    p {
        margin: 0;
    }
}
