<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>Mobile Application</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="build/build.css" type="text/css">
    <style>
    #desc {
      display: none;
    }
    </style>
  </head>
  <body ng-controller="MainController as mainCtrl"
        ng-class="{'nav-is-visible': mainCtrl.navIsVisible(),
                   'nav-left-is-visible': mainCtrl.leftNavIsVisible(),
                   'nav-right-is-visible': mainCtrl.rightNavIsVisible()}">
    <main>
      <gmf-map gmf-map-map="mainCtrl.map"></gmf-map>
      <button class="nav-trigger nav-left-trigger"
        ng-click="mainCtrl.toggleLeftNavVisibility()">
      </button>
      <div class="search"><input type="text" placeholder="Search..."></input></div>
      <button class="nav-trigger nav-right-trigger"
        ng-click="mainCtrl.toggleRightNavVisibility()">
      </button>
      <div class="overlay" ng-click="mainCtrl.hideNav()"></div>
    </main>
    <nav class="nav-left" app-nav>
      <header>
        <a class="go-back" href="#"></a>
      </header>
      <!-- main menu -->
      <div class="active slide">
        <ul>
          <li>
            <a href="#background" data-toggle="slide-in">Background</a>
            <a href="#data" data-toggle="slide-in">Data</a>
          </li>
        </ul>
        <hr>
        <ul>
          <li>
            <a href="#">Login</a>
          </li>
        </ul>
        <p class="text-center">
          <b>Put your logo here</b>
        </p>
      </div>
      <div id="background" class="slide" data-header-title="Background">
        <span>Background</span>
      </div>
      <div id="data" class="slide" data-header-title="Data">
        <ul>
          <li>
            <a href="#themes" data-toggle="slide-in">Themes</a>
          </li>
        </ul>
      </div>
      <div id="themes" class="slide" data-header-title="Themes">
        <span>Themes</span>
      </div>
    </nav>
    <nav class="nav-right" app-nav>
      <header>
        <a class="go-back" href="#"></a>
      </header>
      <!-- main menu -->
      <div class="active slide">
        <ul>
          <li>
            <a href="#measure-tools" data-toggle="slide-in">Measure tools</a>
          </li>
        </ul>
      </div>
      <div id="measure-tools" class="slide" data-header-title="Measure tools">
        <ul>
          <li>
            <a href="#">Length</a>
            <a href="#">Area</a>
          </li>
        </ul>
      </div>
    </nav>
    <p id="desc">This example is a mobile application based on ngeo and gmf components.</p>
    <script src="../../../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../../../node_modules/angular/angular.js"></script>
    <script src="/@?main=mobile/js/main.js"></script>
    <script src="../../../../utils/watchwatchers.js"></script>
  </body>
</html>
