<!DOCTYPE html>
<html lang="{{mobileCtrl.lang}}" ng-app="app" ng-controller="MobileController as mainCtrl">
  <head>
    <title translate>Mobile Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../../build/mobile.css">
  </head>
  <body ng-class="{'nav-is-visible': mainCtrl.navIsVisible(),
                   'nav-left-is-visible': mainCtrl.leftNavIsVisible(),
                   'nav-right-is-visible': mainCtrl.rightNavIsVisible()}">
    <main>
      <gmf-map gmf-map-map="mainCtrl.map"></gmf-map>
      <button class="nav-trigger nav-left-trigger"
        ng-click="mainCtrl.toggleLeftNavVisibility()">
      </button>
      <div class="search">
        <gmf-search gmf-search-map="mainCtrl.map"
                    gmf-search-datasources="mainCtrl.searchDatasources"
                    gmf-search-clearbutton="true">
        </gmf-search>
      </div>
      <button class="nav-trigger nav-right-trigger"
        ng-click="mainCtrl.toggleRightNavVisibility()">
      </button>
      <div class="overlay" ng-click="mainCtrl.hideNav()"></div>
      <button ngeo-mobile-geolocation=""
        ngeo-mobile-geolocation-map="::mainCtrl.map"
        ngeo-mobile-geolocation-options="::mainCtrl.mobileGeolocationOptions">
      </button>
    </main>
    <nav class="nav-left" gmf-mobile-nav>
      <header>
        <a class="go-back" href="#"></a>
      </header>
      <!-- main menu -->
      <div class="active slide">
        <ul>
          <li>
            <a href="#background" data-toggle="slide-in">Background</a>
            <a href="#data" data-toggle="slide-in">Data</a>
            <a href="#login" data-toggle="slide-in">Login</a>
          </li>
        </ul>
        <hr />
        <p class="text-center">
          <b>Put your logo here</b>
        </p>
      </div>
      <div id="background" class="slide" data-header-title="Background">
        <span>Background</span>
      </div>
      <div id="data" class="slide" data-header-title="Data">
        <ul>
          <li>
            <a href="#themes" data-toggle="slide-in">Themes</a>
          </li>
        </ul>
      </div>
      <gmf-themeselector
          id="themes"
          class="slide"
          data-header-title="Themes"
          gmf-themeselector-currenttheme="mainCtrl.theme"
          gmf-themeselector-filter="::mainCtrl.filter">
      </gmf-themeselector>
      <gmf-authentication id="login" class="slide" data-header-title="Login">
      </gmf-authentication>
    </nav>
    <nav class="nav-right" gmf-mobile-nav>
      <header>
        <a class="go-back" href="#"></a>
      </header>
      <!-- main menu -->
      <div class="active slide">
        <ul>
          <li>
            <a href="#measure-tools" data-toggle="slide-in">Measure tools</a>
          </li>
        </ul>
      </div>
      <div id="measure-tools" class="slide" data-header-title="Measure tools">
        <ul>
          <li>
            <a href="#">Length</a>
            <a href="#">Area</a>
          </li>
        </ul>
      </div>
    </nav>
    <script src="../../../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../../../node_modules/angular/angular.js"></script>
    <script src="../../../../node_modules/typeahead.js/dist/typeahead.bundle.js"></script>
    <script src="../../../../node_modules/proj4/dist/proj4-src.js" type="text/javascript"></script>
    <script src="../../../../node_modules/angular-gettext/dist/angular-gettext.js" type="text/javascript"></script>
    <script src="../../../../node_modules/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    <script src="../../../../node_modules/d3/d3.min.js" type="text/javascript"></script>
    <script src="/@?main=mobile/js/mobile.js"></script>
    <script src="default.js"></script>
    <script src="../../../../utils/watchwatchers.js"></script>
    <script>
      (function() {
         var module = angular.module('app');
         module.constant('serverVars', {
           defaultLang: 'en',
           langUrls: {
             'en': '../../build/gmf-en.json',
             'fr': '../../build/gmf-fr.json',
             'de': '../../build/gmf-de.json'
           },
           serviceUrls: {
             fulltextsearch: 'https://geomapfish-demo.camptocamp.net/2.0/wsgi/fulltextsearch?query=%QUERY'
           }
         });
       })();
    </script>
  </body>
</html>
