header {
  .logo {
    background-image: url('../image/logo.png');
    span {
      left: 19.5rem;
      position: absolute;
      bottom: 0.2rem;
    }
    span::before {
      content: "by Camptocamp";
    }
  }
}

.gmf-displayquerywindow {
  width: 22.50rem;
  max-width: 22.50rem;
}

.gmf-displayquerywindow .details {
  overflow-x: auto;
}

::-webkit-scrollbar {
  height: $half-app-margin;
}
