<div class="ngeo-tools">
  <div class="ngeo-angle"><div class="ngeo-angle3d"></div></div>
  <button class="ngeo-left ngeo-tilt-left" ng-click="$ctrl.tilt(5)"></button>
  <button class="ngeo-right ngeo-tilt-right" ng-click="$ctrl.tilt(-5)"></button>
</div>
<div class="ngeo-zoom">
  <button class="ol-zoom-in" ng-click="$ctrl.zoom(1)"></button>
  <button class="ol-zoom-out" ng-click="$ctrl.zoom(-1)"></button>
</div>
<div class="ngeo-tools">
  <div class="ngeo-rotation"><div class="ngeo-rotation3d"></div></div>
  <button class="ngeo-left" ng-click="$ctrl.rotate(-15)"></button>
  <button class="ngeo-right" ng-click="$ctrl.rotate(15)"></button>
</div>
