header {
  .logo {
    background-image: url('../image/logo.svg');
    span {
      left: 18.5rem;
      position: absolute;
      bottom: 0.2rem;
    }
    span::before {
      content: "by Camptocamp";
    }
  }
}

.gmf-theme-selector li {
  flex-direction: column;
  span.gmf-text {
    width: auto;
  }
}
.gmf-theme-selector .gmf-thumb {
  height: 3rem;
}

.gmf-layertree-node .gmf-layertree-legend {
  border: none;
  background-color: transparent;
}

div .ngeo-displaywindow {
  $displaywindow-min-height: 15rem;
  left: $app-margin + $left-panel-width + $displaywindow-min-height / 2;
  right: initial;
  top: $topbar-height + $app-margin + 3 * $map-tools-size;
}

.offset-info-icon {
  position: absolute;
}


:root {
  --brand-primary: #9FB6CC;
  --brand-secondary: #D3DBE3;
  --nav-bg: white;
  --color: #555;
  --color-light: #7b7b7b;
  --color-04: rgba(85, 85, 85, 0.4);
  --nav-header-bg: gray;
  --map-tools-bg-color: white;
  --map-tools-color: black;
  --onhover-color: #d9d9d9;
  --onhover-color-darken: #b3b3b3;
  --main-bg-color: #e2e3df;
  --main-bg-color-lighten: #f4f5f3;
  --main-bg-color-09: rgba(226, 227, 223, 0.9);
  --main-bg-color-08: rgba(226, 227, 223, 0.8);
  --input-border-focus: #6d90b1;
  --input-border-focus-darken: #496a89;
  --light-box-shadow-color: rgba(0, 0, 0, 0.1);
  --eavy-box-shadow-color: rgba(0, 0, 0, 0.3);
  --border-color: #6d90b1;
  --hover-background-color: #d1dce7;
  --brand-secondary-dark: #a4b5c5;
  --gmf-gray-dark: #333333;
  --btn-default-border: #ccc;
  --link-color: #60809f;
  --link-hover-color: #435a70;
  --table-border-color: #6d90b1;
  --input-btn-focus-color: rgba(159, 182, 204, 0.25);
}
