
.gmf-theme-selector li {
  flex-direction: column;
  span.gmf-text {
    width: auto;
  }
}
.gmf-theme-selector .gmf-thumb {
  height: 3rem;
}

.gmf-layertree-node .gmf-layertree-legend {
  border: none;
  background-color: transparent;
}

div .ngeo-displaywindow {
  $displaywindow-min-height: 15rem;
  left: $app-margin + $left-panel-width + $displaywindow-min-height / 2;
  right: initial;
  top: $topbar-height + $app-margin + 3 * $map-tools-size;
}
