<!DOCTYPE html>
<html ng-app='gmfapp'>
  <head>
    <title>GMF elevation indicator example</title>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
  <link href="elevation.css" rel="stylesheet"></head>
  <body ng-controller="MainController as ctrl">
    <gmf-map gmf-map-map="ctrl.map"></gmf-map>

    <span gmf-elevation
          gmf-elevation-active="elevationActive"
          gmf-elevation-elevation="elevationValue"
          gmf-elevation-loading="elevationLoading"
          gmf-elevation-layer="ctrl.selectedElevationLayer"
          gmf-elevation-layersconfig="::ctrl.elevationLayers"
          gmf-elevation-map="::ctrl.map">
    </span>

    <div class="btn-group dropdown">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Raster layer
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="elevationItem in ::ctrl.elevationLayers">
          <a href ng-click="ctrl.selectedElevationLayer = elevationItem">
            <span class="fa fa-fw" ng-class="{'fa-check': ctrl.selectedElevationLayer === elevationItem}"></span>
            {{::elevationItem}}
          </a>
        </li>
      </ul>
    </div>
    <div>
      Elevation: {{elevationValue}}
      <span class="loading" ng-if="elevationLoading">Loading</span>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="elevationActive" />
        Elevation active
      </label>
    </div>

    <p id="desc">This example shows how to use the <code>gmf-elevation</code> directive to get elevation under the mouse position.</p>
    <script type="text/javascript" src="../../dist/vendor.js"></script>
  <script type="text/javascript" src="commons.js"></script><script type="text/javascript" src="elevation.js"></script></body>
</html>
