<fieldset ng-disabled="attrCtrl.disabled">
  <div
      class="form-group"
      ng-repeat="attribute in ::attrCtrl.attributes">
    <div ng-if="attribute.type !== 'geometry'">
      <label>{{::attribute.required ? "* " : ""}}{{ ::attribute.name | translate }}:</label>
      <div ng-switch="attribute.type">
        <select
            name="{{::attribute.name}}"
            ng-required="attribute.required"
            ng-switch-when="select"
            ng-model="attrCtrl.properties[attribute.name]"
            ng-change="attrCtrl.handleInputChange(attribute.name);"
            class="form-control"
            type="text">
          <option
              ng-repeat="attribute in ::attribute.choices"
              value="{{ ::attribute }}">
            {{ ::attribute }}
          </option>
        </select>

        <input
            name="{{::attribute.name}}"
            ng-required="attribute.required"
            ng-switch-when="date"
            ui-date="attrCtrl.dateOptions"
            ng-model="attrCtrl.properties[attribute.name]"
            ng-change="attrCtrl.handleInputChange(attribute.name);"
            class="form-control"
            type="text">
        </input>

        <input
            name="{{::attribute.name}}"
            ng-required="attribute.required"
            ng-switch-when="datetime"
            ui-date="attrCtrl.dateOptions"
            ng-model="attrCtrl.properties[attribute.name]"
            ng-change="attrCtrl.handleInputChange(attribute.name);"
            class="form-control"
            type="text">
        </input>

        <input
            name="{{::attribute.name}}"
            ng-required="attribute.required"
            ng-switch-default
            ng-model="attrCtrl.properties[attribute.name]"
            ng-change="attrCtrl.handleInputChange(attribute.name);"
            class="form-control"
            type="text">
        </input>

        <div ng-show="form.$submitted || form[attribute.name].$touched">
          <p class="text-danger"
             ng-show="form[attribute.name].$error.required">
            {{'This field is required' | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</fieldset>
