<div class="dropdown">
  <a
      class="btn btn-link dropdown-toggle ngeo-filter-condition-button"
      ng-class="{disabled: filterCtrl.aRuleIsActive}"
      type="button"
      data-toggle="dropdown"
      ng-disabled="filterCtrl.aRuleIsActive">
    <span class="fa fa-cog"></span>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li
        class="ngeo-filter-condition-criteria-header"
        translate>Criteria taken into account</li>
    <li ng-repeat="condition in ::filterCtrl.conditions">
      <a
          href
          ng-click="filterCtrl.setCondition(condition)">
          <span
              ng-class="{'ngeo-filter-condition-criteria-active': condition.value == filterCtrl.datasource.filterCondition}"
              class="fa fa-check ngeo-filter-condition-criteria">
          </span>
          <span>{{::condition.text | translate}}</span>
      </a>
    </li>
  </ul>
</div>

<ngeo-rule
    ng-repeat="rule in filterCtrl.directedRules"
    feature-overlay="::filterCtrl.featureOverlay"
    class="ngeo-filter-rule-directed"
    map="filterCtrl.map"
    rule="rule"
    tool-group="filterCtrl.toolGroup">
</ngeo-rule>

<hr class="ngeo-filter-separator-rules" />

<div ng-repeat="rule in filterCtrl.customRules">
  <a
      class="btn btn-xs btn-link ngeo-filter-rule-custom-rm-btn"
      ng-click="!filterCtrl.aRuleIsActive && filterCtrl.removeCustomRule(rule)"
      ng-disabled="filterCtrl.aRuleIsActive"
      href>
    <span class="fa fa-remove"></span>
  </a>
  <ngeo-rule
      feature-overlay="::filterCtrl.featureOverlay"
      class="ngeo-filter-rule-custom"
      map="filterCtrl.map"
      rule="rule"
      tool-group="filterCtrl.toolGroup">
  </ngeo-rule>
</div>

<div class="dropdown">
  <a
      class="btn btn-link dropdown-toggle"
      ng-class="{disabled: filterCtrl.aRuleIsActive}"
      type="button"
      data-toggle="dropdown"
      ng-disabled="filterCtrl.aRuleIsActive">
    <span translate>+ Add a new criteria</span>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li ng-repeat="attribute in ::filterCtrl.geometryAttributes">
      <a
          href
          ng-click="filterCtrl.createAndAddCustomRule(attribute)">
          <span translate>Spatial filter</span>
      </a>
    </li>
    <li role="presentation" class="divider"></li>
    <li ng-repeat="attribute in ::filterCtrl.otherAttributes">
      <a
          href
          ng-click="filterCtrl.createAndAddCustomRule(attribute)">
          <span>{{::attribute.name | translate}}</span>
      </a>
    </li>
  </ul>
</div>

<hr class="ngeo-filter-separator-criteria" />

<a
    class="btn btn-link"
    type="button"
    ng-click="filterCtrl.apply()"
    ng-disabled="filterCtrl.hasARule() === false || filterCtrl.datasource.visible === false">
  <span class="fa fa-check"></span>
  <span translate>Apply filter</span>
</a>

<a
    class="btn btn-link"
    type="button"
    ng-click="filterCtrl.getData()"
    ng-disabled="filterCtrl.hasARule() === false || filterCtrl.datasource.visible === false">
  <span class="fa fa-chevron-right"></span>
  <span translate>Get data</span>
</a>
