<div class="dropdown">
  <a
      class="btn btn-link dropdown-toggle ngeo-filter-condition-button"
      type="button"
      data-toggle="dropdown">
    <span class="glyphicon glyphicon-cog"></span>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li
        class="ngeo-filter-condition-criteria-header"
        translate>Criteria taken into account</li>
    <li ng-repeat="condition in ::filterCtrl.conditions">
      <a
          href
          ng-click="filterCtrl.setCondition(condition)">
          <span
              ng-class="{'ngeo-filter-condition-criteria-active': condition.value == filterCtrl.datasource.filterCondition}"
              class="glyphicon glyphicon-ok ngeo-filter-condition-criteria">
          </span>
          <span>{{::condition.text | translate}}</span>
      </a>
    </li>
  </ul>
</div>

<div
    ng-repeat="rule in filterCtrl.directedRules">
  {{ rule.name }}
</div>

<hr ng-if="filterCtrl.directedRules.length" />

<div
    ng-repeat="rule in filterCtrl.customRules">
  {{ rule.name }}
</div>

<div class="dropdown">
  <a
      class="btn btn-link dropdown-toggle"
      type="button"
      data-toggle="dropdown">
    <span translate>+ Add a new criteria</span>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li ng-repeat="attribute in ::filterCtrl.geometryAttributes">
      <a
          href
          ng-click="">
          <span translate>Spatial filter</span>
      </a>
    </li>
    <li role="presentation" class="divider"></li>
    <li ng-repeat="attribute in ::filterCtrl.otherAttributes">
      <a
          href
          ng-click="filterCtrl.createAndAddCustomRule(attribute)">
          <span>{{::attribute.name | translate}}</span>
      </a>
    </li>
  </ul>
</div>

<a
    class="btn btn-link"
    type="button"
    data-toggle="dropdown"
    ng-click="filterCtrl.apply()">
  <span class="glyphicon glyphicon-ok"></span>
  <span translate>Apply</span>
</a>
