<div class="ngeo-routing">
  <div class="ngeo-routing-start form-group">
    <ngeo-routing-feature
            ngeo-routing-feature-map="routeCtrl.map"
            ngeo-routing-feature-feature="routeCtrl.startFeature_"
            ngeo-routing-feature-fill-color="routeCtrl.colors['start.fill']"
            ngeo-routing-feature-stroke-color="routeCtrl.colors['start.stroke']"
            ngeo-routing-feature-on-change="routeCtrl.handleChange"
            ngeo-routing-feature-search-default-params="routeCtrl.searchDefaultParams">
    </ngeo-routing-feature>
  </div>

    <div class="ngeo-routing-vias form-group" ng-repeat="(index, via) in routeCtrl.viaArray">
      <div class="form-inline">
        <div class="form-group">
          <ngeo-routing-feature
                  ngeo-routing-feature-map="routeCtrl.map"
                  ngeo-routing-feature-feature="via.feature"
                  ngeo-routing-feature-fill-color="routeCtrl.colors['via.fill']"
                  ngeo-routing-feature-stroke-color="routeCtrl.colors['via.stroke']"
                  ngeo-routing-feature-on-change="routeCtrl.handleChange"
                  ngeo-routing-feature-search-default-params="routeCtrl.searchDefaultParams">
          </ngeo-routing-feature>
        </div>
        <button type="button" class="btn btn-primary delete-via" ng-click="routeCtrl.deleteVia(index)">
          <span class="fa fa-trash-o"></span>
        </button>
      </div>
    </div>

  <div class="ngeo-routing-destination form-group">
    <ngeo-routing-feature
            ngeo-routing-feature-map="routeCtrl.map"
            ngeo-routing-feature-feature="routeCtrl.targetFeature_"
            ngeo-routing-feature-fill-color="routeCtrl.colors['destination.fill']"
            ngeo-routing-feature-stroke-color="routeCtrl.colors['destination.stroke']"
            ngeo-routing-feature-on-change="routeCtrl.handleChange"
            ngeo-routing-feature-search-default-params="routeCtrl.searchDefaultParams">
    </ngeo-routing-feature>
  </div>

  <div class="form-group pull-right">
    <button type="button" class="btn btn-primary" ng-click="routeCtrl.reverseRoute()" translate>
      <span class="fa fa-exchange"></span> Reverse
    </button>
    <button type="button" class="btn btn-primary" ng-click="routeCtrl.addVia()" translate>
      <span class="fa fa-plus"></span> Add via
    </button>
  </div>

  <div class="clearfix"></div>

  <div class="form-horizontal"
       ng-if="routeCtrl.routingProfiles.length > 1">
    <div class="form-group">
      <label class="control-label col-md-4" translate>Profile</label>
      <div class="col-md-8">
        <select class="form-control" ng-model="routeCtrl.selectedRoutingProfile">
          <option ng-repeat="profile in routeCtrl.routingProfiles" ng-value="profile">{{profile.label}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="ngeo-routing-error form-group clearfix"
       ng-hide="routeCtrl.errorMessage === ''">
    {{routeCtrl.errorMessage}}
  </div>

  <div class="clearfix"></div>

  <div class="form-horizontal"
       ng-hide="routeCtrl.routeDuration === null && routeCtrl.routeDistance <= 0">
    <div class="row">
      <div class="col-md-12">
        <strong translate>Route statistics</strong>
      </div>
    </div>
    <div class="row" ng-hide="routeCtrl.routeDuration === null">
      <div class="col-md-4 text-right" translate>
        Duration
      </div>
      <div class="col-md-8">
        {{routeCtrl.routeDuration | ngeoDuration}}
      </div>
    </div>

    <div class="row" ng-hide="routeCtrl.routeDistance <= 0">
      <div class="col-md-4 text-right" translate>
        Distance
      </div>
      <div class="col-md-8">
        {{routeCtrl.routeDistance | ngeoUnitPrefix:'m'}}
      </div>
    </div>
  </div>
</div>
