<div
    class="dropdown"
    ng-class="{open: ruleCtrl.active}">
  <a
      class="btn btn-default btn-sm dropdown-toggle"
      type="button"
      ng-click="ruleCtrl.toggle()">
    <span translate>{{ ::ruleCtrl.clone.name }}</span>
    <span class="caret"></span>
  </a>
  <div
      class="dropdown-menu form-group"
      ng-switch="::ruleCtrl.clone.type">

    <div
        class="ngeo-rule-type-date"
        ng-switch-when="date|datetime"
        ng-switch-when-separator="|">Date or datetime...</div>

    <div
        class="checkbox ngeo-rule-type-select"
        ng-switch-when="select">
        <a
            ng-click="ruleCtrl.selectAllChoices()"
            href>{{ All | translate}}
        </a>
        <label
            class="form-group ol-unselectable"
            ng-repeat="choice in ::ruleCtrl.clone.choices">
          <input
              ng-checked="ruleCtrl.clone.expression && ruleCtrl.clone.expression.split(',').indexOf(choice) > -1"
              ng-click="ruleCtrl.toggleChoiceSelection(choice)"
              type="checkbox"
              value="choice" />
          <span>{{ choice | translate }}</span>
        </label>

    </div>

    <div
        class="form-group ngeo-rule-type-text"
        ng-switch-default>
      <input
          type="text"
          class="form-control input-sm"
          ng-model="ruleCtrl.clone.expression"/>
    </div>

    <div class="ngeo-rule-btns">
      <button
          class="btn btn-xs btn-default"
          ng-click="ruleCtrl.apply()"
          type="button">{{'Apply' | translate}}</button>
      <button
          class="btn btn-xs btn-default"
          ng-click="ruleCtrl.cancel()"
          type="button">{{'Cancel' | translate}}</button>
    </div>

  </div>
</div>


<div
    class="ngeo-rule-value"
    ng-if="ruleCtrl.rule.value !== null">

  <a
      class="btn btn-xs btn-link"
      ng-click="ruleCtrl.reset()"
      href>
    <span class="glyphicon glyphicon-remove"></span>
  </a>

  <div ng-switch="::ruleCtrl.rule.type">
    <div ng-switch-when="date|datetime">
      Datetime value...
    </div>

    <div ng-switch-when="select">
      <span ng-repeat="choice in ruleCtrl.rule.expression.split(',')">
        {{ choice | translate }}{{ $last ? '' : ', ' }}
      </span>
    </div>

    <div ng-switch-default>{{ ruleCtrl.rule.expression }}</div>

  </div>
</div>
