<div
    class="dropdown"
    ng-class="{open: ruleCtrl.rule.active}">
  <a
      class="btn btn-default btn-sm dropdown-toggle"
      type="button"
      ng-click="ruleCtrl.toggle()">
    <span>{{ ::ruleCtrl.clone.name | translate }}</span>
    <span class="caret"></span>
  </a>
  <div class="dropdown-menu form-group">

    <select
        class="form-control input-sm ngeo-rule-operators-list"
        ng-disabled="ruleCtrl.drawActive"
        ng-if="::ruleCtrl.clone.operators"
        ng-model="ruleCtrl.clone.operator"
        ng-options="ruleCtrl.operators[operator] | translate for operator in ::ruleCtrl.clone.operators track by operator">
    </select>

    <div ng-switch="::ruleCtrl.clone.type">

      <div
          class="ngeo-rule-type-date form-group"
          ng-if="ruleCtrl.rule.active"
          ng-switch-when="date|datetime"
          ng-switch-when-separator="|">
        <div ng-switch="ruleCtrl.clone.operator">
          <div ng-switch-when="..">
            <ngeo-date-picker
                time="ruleCtrl.timeRangeMode"
                on-date-selected="ruleCtrl.onDateRangeSelected(time)">
            </ngeo-date-picker>
          </div>
          <div ng-switch-default>
            <ngeo-date-picker
                time="ruleCtrl.timeValueMode"
                on-date-selected="ruleCtrl.onDateSelected(time)">
            </ngeo-date-picker>
          </div>
        </div>
      </div>

      <div
          class="ngeo-rule-type-geometry form-group"
          ng-switch-when="geometry">
        <div ng-switch="ruleCtrl.geomType">
          <span
              class="gmf-icon gmf-icon-point"
              ng-switch-when="Point">
          </span>
          <span
              class="gmf-icon gmf-icon-line"
              ng-switch-when="LineString">
          </span>
          <span
              class="gmf-icon gmf-icon-polygon"
              ng-switch-when="Polygon">
          </span>
          <span
              class="gmf-icon gmf-icon-circle"
              ng-switch-when="Circle">
          </span>
          <span
              class="gmf-icon gmf-icon-rectangle"
              ng-switch-when="Rectangle">
          </span>
        </div>
        <ngeo-drawfeature
            ngeo-drawfeature-active="ruleCtrl.drawActive"
            ngeo-drawfeature-features="ruleCtrl.drawnFeatures"
            ngeo-drawfeature-map="ruleCtrl.map">
          <div
              ngeo-btn-group
              class="btn-group">
              <a
                data-toggle="tooltip"
                title="{{'Draw a point on the map' | translate}}"
                href
                ngeo-btn
                ngeo-drawpoint
                class="btn btn-sm btn-default ngeo-drawfeature-point"
                ng-show="['intersects', 'within'].indexOf(ruleCtrl.clone.operator) !== -1"
                ng-class="{active: dfCtrl.drawPoint.active}"
                ng-model="dfCtrl.drawPoint.active">
                <span class="gmf-icon gmf-icon-point"></span>
              </a>
              <a
                data-toggle="tooltip"
                title="{{'Draw a line on the map' | translate}}"
                href
                ngeo-btn
                ngeo-measurelength
                class="btn btn-sm btn-default ngeo-drawfeature-linestring"
                ng-show="['intersects', 'within'].indexOf(ruleCtrl.clone.operator) !== -1"
                ng-class="{active: dfCtrl.measureLength.active}"
                ng-model="dfCtrl.measureLength.active">
                <span class="gmf-icon gmf-icon-line"></span>
              </a>
              <a
                data-toggle="tooltip"
                title="{{'Draw a polygon on the map' | translate}}"
                href
                ngeo-btn
                ngeo-measurearea
                class="btn btn-sm btn-default ngeo-drawfeature-polygon"
                ng-class="{active: dfCtrl.measureArea.active}"
                ng-model="dfCtrl.measureArea.active">
                <span class="gmf-icon gmf-icon-polygon"></span>
              </a>
              <a
                data-toggle="tooltip"
                title="{{'Draw a circle on the map' | translate}}"
                href
                ngeo-btn
                ngeo-measureazimut
                class="btn btn-sm btn-default ngeo-drawfeature-circle"
                ng-class="{active: dfCtrl.measureAzimut.active}"
                ng-model="dfCtrl.measureAzimut.active">
                <span class="gmf-icon gmf-icon-circle"></span>
              </a>
              <a
                data-toggle="tooltip"
                title="{{'Draw a rectangle on the map' | translate}}"
                href
                ngeo-btn
                ngeo-drawrectangle
                class="btn btn-sm btn-default ngeo-drawfeature-rectangle"
                ng-class="{active: dfCtrl.drawRectangle.active}"
                ng-model="dfCtrl.drawRectangle.active">
                <span class="gmf-icon gmf-icon-rectangle"></span>
              </a>
          </div>

          <div
              class="ngeo-rule-type-geometry-instructions"
              ng-if="ruleCtrl.drawActive">
            <span ng-if="dfCtrl.drawPoint.active">
              {{ 'Draw a point on the map.' | translate }}
            </span>
            <span ng-if="dfCtrl.measureLength.active">
              {{ 'Draw a line string on the map.' | translate }}
            </span>
            <span ng-if="dfCtrl.measureArea.active">
              {{ 'Draw a polygon on the map.' | translate }}
            </span>
            <span ng-if="dfCtrl.measureAzimut.active">
              {{ 'Draw a circle on the map.' | translate }}
            </span>
            <span ng-if="dfCtrl.drawRectangle.active">
              {{ 'Draw a rectangle on the map.' | translate }}
            </span>
          </div>
        </ngeo-drawfeature>
      </div>

      <div
          class="checkbox ngeo-rule-type-select"
          ng-switch-when="select">
        <a
            ng-click="ruleCtrl.selectAllChoices()"
            href>{{ All | translate}}
        </a>
        <label
            class="form-group ol-unselectable"
            ng-repeat="choice in ::ruleCtrl.clone.choices">
          <input
              ng-checked="ruleCtrl.clone.getExpression() && ruleCtrl.clone.getExpression().split(',').indexOf(choice) > -1"
              ng-click="ruleCtrl.toggleChoiceSelection(choice)"
              type="checkbox"
              value="choice" />
          <span>{{ choice | translate }}</span>
        </label>

      </div>

      <div
          class="form-group ngeo-rule-type-text"
          ng-switch-default>
        <div ng-switch="ruleCtrl.clone.operator">
          <div ng-switch-when="..">
            <input
                type="number"
                class="form-control input-sm"
                ng-model="ruleCtrl.clone.lowerBoundary"/>
            <input
                type="number"
                class="form-control input-sm"
                ng-model="ruleCtrl.clone.upperBoundary"/>
          </div>
          <div ng-switch-default>
            <input
                type="number"
                class="form-control input-sm"
                ng-if="ruleCtrl.clone.type === 'number'"
                ng-model="ruleCtrl.clone.expression"/>
            <input
                type="text"
                class="form-control input-sm"
                ng-if="ruleCtrl.clone.type !== 'number'"
                ng-model="ruleCtrl.clone.expression"/>
          </div>
        </div>
      </div>

      <div class="ngeo-rule-btns">
        <button
            class="btn btn-xs btn-default"
            ng-click="ruleCtrl.apply()"
            type="button">{{'Apply' | translate}}</button>
        <button
            class="btn btn-xs btn-default"
            ng-click="ruleCtrl.cancel()"
            type="button">{{'Cancel' | translate}}</button>
      </div>

    </div>
  </div>
</div>


<div
    class="ngeo-rule-value"
    ng-if="ruleCtrl.rule.value !== null">

  <a
      class="btn btn-xs btn-link"
      ng-click="!ruleCtrl.rule.active && ruleCtrl.reset()"
      ng-disabled="ruleCtrl.rule.active"
      href>
    <span class="fa fa-remove"></span>
  </a>

  <div ng-switch="::ruleCtrl.rule.type">

    <div
        ng-switch-when="date|datetime"
        ng-switch-when-separator="|">
      <div ng-switch="ruleCtrl.rule.operator">
        <div ng-switch-when="..">
          <span translate>From </span>
          <span>{{ ruleCtrl.timeToDate(ruleCtrl.rule.lowerBoundary) }}</span>
          <span translate> to </span>
          <span>{{ ruleCtrl.timeToDate(ruleCtrl.rule.upperBoundary) }}</span>
        </div>
        <div ng-switch-default>
          <span>{{ ruleCtrl.operatorsShortFormat[ruleCtrl.rule.operator] }}</span>
          <span>{{ ruleCtrl.timeToDate(ruleCtrl.rule.getExpression()) }}</span>
        </div>
      </div>
    </div>

    <div ng-switch-when="geometry">
      <span>{{ ruleCtrl.operators[ruleCtrl.rule.operator] }}</span>
      <span ng-switch="ruleCtrl.getRuleGeometryType()">
        <span
            class="gmf-icon gmf-icon-point"
            ng-switch-when="Point">
        </span>
        <span
            class="gmf-icon gmf-icon-line"
            ng-switch-when="LineString">
        </span>
        <span
            class="gmf-icon gmf-icon-polygon"
            ng-switch-when="Polygon">
        </span>
        <span
            class="gmf-icon gmf-icon-circle"
            ng-switch-when="Circle">
        </span>
        <span
            class="gmf-icon gmf-icon-rectangle"
            ng-switch-when="Rectangle">
        </span>
      </span>
    </div>

    <div ng-switch-when="select">
      <span ng-repeat="choice in ruleCtrl.rule.getExpression().split(',')">
        {{ choice | translate }}{{ $last ? '' : ', ' }}
      </span>
    </div>

    <div ng-switch-default>
      <div ng-switch="ruleCtrl.rule.operator">
        <div ng-switch-when="..">
          <span translate>Between </span>
          <span>{{ ruleCtrl.rule.lowerBoundary }}</span>
          <span translate> and </span>
          <span>{{ ruleCtrl.rule.upperBoundary }}</span>
        </div>
        <div ng-switch-default>
          <span>{{ ruleCtrl.operatorsShortFormat[ruleCtrl.rule.operator] }}</span>
          <span>{{ ruleCtrl.rule.getExpression() }}</span>
        </div>
      </div>
    </div>

  </div>
</div>
