<div ng-class="::{'dropdown': true, 'dropup': scaleselectorCtrl.options.dropup}">
  <button type="button" class="btn btn-primary" data-toggle="dropdown">
    <span ng-bind-html="scaleselectorCtrl.currentScale"></span>&nbsp;<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="zoomLevel in ::scaleselectorCtrl.zoomLevels">
      <a href ng-click="scaleselectorCtrl.changeZoom(zoomLevel)"
         ng-bind-html="scaleselectorCtrl.getScale(zoomLevel)">
      </a>
    </li>
  </ul>
</div>
