<div>
  <div class="info"> 
    <button type="button" class="close" ng-click="open = false"> &times;</button>
    <h5>{{source.name}}</h5>
    <p>{{source.label}}</p> 
    <ul>
      <li ng-repeat="(key, value) in feature.getProperties()" ng-if="key !== 'geometry'">
        <span class="key">{{key}}</span>
        <span class="value">{{value}}</span>
      </li>
    </ul>
  </div>
  <div class="navigate">
  <button type="button" class="prev" ng-click="prev()">prev</button>
  <span>{{currentResult}}</span>
  <span>/</span>
  <span>{{getResultLength()}}</span>
  <button type="button" class="next" ng-click="next()">next</button>
  </div>
</div>
