<div
  class="gmf-displayquerywindow"
  ng-class="{'gmf-displayquerywindow-desktop': ctrl.desktop, 'gmf-displayquerywindow-mobile': !ctrl.desktop}"
  ng-show="ctrl.open"
  ng-swipe-disable-mouse
  ng-swipe-left="ctrl.next()"
  ng-swipe-right="ctrl.previous()">

  <button
    class="gmf-displayquerywindow-collapse-button"
    type="button"
    ng-show="::!ctrl.desktop"
    ng-click="ctrl.collapsed = !ctrl.collapsed"
    ng-class="[ctrl.collapsed ? 'gmf-displayquerywindow-collapse-button-up' : 'gmf-displayquerywindow-collapse-button-down']">
  </button>

  <div class="gmf-displayquerywindow-container">

    <button
      type="button"
      class="btn fa-close close"
      ng-click="ctrl.close()">
    </button>

    <div
      class="gmf-displayquerywindow-animation-container"
      ng-class="[ctrl.collapsed ? '' : 'gmf-displayquerywindow-animation-container-detailed', ctrl.isNext ? 'gmf-displayquerywindow-next' : 'gmf-displayquerywindow-previous']">

      <div
        ng-animate-swap="ctrl.animate"
        class="gmf-displayquerywindow-slide-animation gmf-animatable">

        <div class="gmf-displayquerywindow-header">
          <p
            class="gmf-displayquerywindow-title"
            >{{ctrl.source.label | translate}}</p>
          <p
            class="gmf-displayquerywindow-subtitle"
            >{{ctrl.getFeatureValues()[ctrl.source.identifierAttributeField]}}</p>
        </div>

        <div class="gmf-displayquerywindow-details">
          <table>
            <tr
              ng-repeat="(key, value) in ctrl.getFeatureValues()"
              ng-if="value !== undefined">
              <td
                class="gmf-displayquerywindow-details-key"
                ng-bind-html="key | translate | ngeoTrustHtml"
                ></td>
              <td
                class="gmf-displayquerywindow-details-value"
                ng-bind-html="value | ngeoTrustHtml"
                ></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="gmf-displayquerywindow-navigate">

      <div class="gmf-displayquerywindow-placeholder">
        <button
          type="button"
          class="gmf-displayquerywindow-previous btn"
          ng-disabled="ctrl.isFirst()"
          ng-show="ctrl.getResultLength() > 1"
          ng-click="ctrl.previous()">
          <span ng-show="::ctrl.desktop">{{'Prev.' | translate}}</span>
        </button>
      </div>

      <div class="gmf-displayquerywindow-results">
        <span ng-show="::!ctrl.desktop">{{'Result' | translate}}</span>
        <span>{{ctrl.currentResult + 1}}</span>
        <span>/</span>
        <span>{{ctrl.getResultLength()}}</span>
        <div
          ng-show="::ctrl.desktop"
          class="dropup">

          <button
            type="button"
            class="btn btn-default dropdown-toggle"
            data-toggle="dropdown"
            aria-expanded="false">
            <span class="fa fa-filter"></span>
            <span class="fa fa-caret-up"></span>
          </button>

          <ul
            class="dropdown-menu dropdown-menu-right"
            role="menu">

            <li>
              <a
                href="#"
                ng-click="ctrl.setSelectedSource(null)">
                <i
                  class="fa fa-fw"
                  ng-class="{'fa-check': ctrl.selectedSource === null}">
                </i>
                <span>{{'All layers' | translate}} ({{ctrl.ngeoQueryResult.total}})</span>
              </a>
            </li>

            <li
              role="separator"
              class="divider">
            </li>

            <li
              ng-repeat-start="source in ctrl.ngeoQueryResult.sources | filter: ctrl.sourcesFilter" ng-repeat-end
              ng-class="{'disabled': source.features.length <= 0}">
              <a
                href="#"
                ng-click="ctrl.setSelectedSource(source)">
                <i
                  class="fa fa-fw"
                  ng-class="{'fa-check': ctrl.selectedSource === source}">
                </i>
                <span>{{source.label | translate}} ({{source.features.length}})</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="gmf-displayquerywindow-placeholder">
        <button
          type="button"
          class="gmf-displayquerywindow-next btn"
          ng-disabled="ctrl.isLast()"
          ng-show="ctrl.getResultLength() > 1"
          ng-click="ctrl.next()">
          <span ng-show="::ctrl.desktop">{{'Next' | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
