<div>

  <h2>{{'Draw & Measure' | translate}}</h2>

  <hr />

  <ngeo-drawfeature
      ngeo-btn-group
      class="btn-group"
      ngeo-drawfeature-active="efCtrl.drawActive"
      ngeo-drawfeature-map="efCtrl.map">
    <a
      href
      translate
      ngeo-btn
      ngeo-drawpoint
      class="btn btn-default ngeo-drawfeature-point"
      ng-class="{active: dfCtrl.drawPoint.active}"
      ng-model="dfCtrl.drawPoint.active"></a>
    <a
      href
      translate
      ngeo-btn
      ngeo-measurelength
      class="btn btn-default ngeo-drawfeature-linestring"
      ng-class="{active: dfCtrl.measureLength.active}"
      ng-model="dfCtrl.measureLength.active"></a>
    <a
      href
      translate
      ngeo-btn
      ngeo-measurearea
      class="btn btn-default ngeo-drawfeature-polygon"
      ng-class="{active: dfCtrl.measureArea.active}"
      ng-model="dfCtrl.measureArea.active"></a>
    <a
      href
      translate
      ngeo-btn
      ngeo-measureazimut
      class="btn btn-default ngeo-drawfeature-circle"
      ng-class="{active: dfCtrl.measureAzimut.active}"
      ng-model="dfCtrl.measureAzimut.active"></a>
    <a
      href
      translate
      ngeo-btn
      ngeo-drawrectangle
      class="btn btn-default ngeo-drawfeature-rectangle"
      ng-class="{active: dfCtrl.drawRectangle.active}"
      ng-model="dfCtrl.drawRectangle.active"></a>
    <a
      href
      translate
      ngeo-btn
      ngeo-drawtext
      class="btn btn-default ngeo-drawfeature-text"
      ng-class="{active: dfCtrl.drawText.active}"
      ng-model="dfCtrl.drawText.active"></a>
  </ngeo-drawfeature>

  <hr />

  <div ng-switch="efCtrl.selectedFeature">

    <div ng-switch-when="null">
      <div class="ngeo-drawfeature-actionbuttons">
        <button
            class="btn btn-default">
          {{'Export' | translate}}
        </button>
        <button
            ng-click="efCtrl.features.clear();"
            class="btn btn-default">
          {{'Delete All' | translate}}
        </button>
      </div>

      <div class="gmf-eol"></div>

      <ul class="gmf-drawfeature-featurelist">
        <li
            ng-repeat="feature in efCtrl.features.getArray()"
            ng-click="efCtrl.selectedFeature = feature;">
          {{ feature.get(efCtrl.nameProperty) }}
        </li>
      </ul>

    </div>

    <div ng-switch-default>

      <div class="ngeo-drawfeature-actionbuttons">
        <button
            ng-click="efCtrl.selectedFeature = null;"
            class="btn btn-default">
          {{'<- List' | translate}}
        </button>
        <button
            class="btn btn-default">
          {{'Export' | translate}}
        </button>
        <button
            ng-click="efCtrl.features.remove(efCtrl.selectedFeature);"
            class="btn btn-default">
          {{'Delete' | translate}}
        </button>
      </div>

      <gmf-featurestyle
        gmf-featurestyle-feature="efCtrl.selectedFeature">
      </gmf-featurestyle>
    </div>

  </div>

</div>