<div
    ng-switch="efsCtrl.selectedLayer">

  <div ng-switch-when="null">
    <select
        class="form-control"
        ng-model="efsCtrl.selectedLayer"
        ng-options="layer.name | translate for layer in efsCtrl.availableLayers">
      <option value="" translate>-- Choose a layer --</option>
    </select>
  </div>

  <div ng-switch-default>
    <button
        ng-click="efsCtrl.selectedLayer = null;"
        class="btn btn-link btn-xs gmf-editfeatureselector-stopediting">
      <span class="fa fa-times"></span>
      {{'Stop editing' | translate}}
    </button>

    <h3>{{ efsCtrl.selectedLayer.name | translate }}</h3>

    <gmf-editfeature
        gmf-editfeature-layer="::efsCtrl.selectedLayer"
        gmf-editfeature-map="::efsCtrl.map"
        gmf-editfeature-tolerance="::efsCtrl.tolerance"
        gmf-editfeature-vector="::efsCtrl.vectorLayer"
        gmf-editfeature-wmslayer="::efsCtrl.selectedWMSLayer">
    </gmf-editfeature>

  </div>

</div>
