<div
    ng-switch="efsCtrl.selectedLayer">

  <div ng-switch-when="null">
    <select
        class="form-control"
        ng-model="efsCtrl.selectedLayer"
        ng-show="efsCtrl.availableLayers.length > 0"
        ng-options="layer.name | translate for layer in efsCtrl.availableLayers">
      <option value="" translate>-- Choose a layer --</option>
    </select>
    <span ng-show="efsCtrl.availableLayers.length == 0" translate>No editable layer available!</span>
  </div>

  <div ng-switch-default>
    <div class="row">
      <div class="col-sm-12">
        <span translate>Currently editing: </span>
        <b>{{ efsCtrl.selectedLayer.name | translate }}</b>
        <span class="fa fa-pencil"></span>
        <br>
        <button
            ng-click="efsCtrl.stopEditing()"
            class="btn btn-link btn-xs pull-right">
          <span class="fa fa-times"></span>
          {{'Stop editing' | translate}}
        </button>
      </div>
    </div>

    <gmf-editfeature
        gmf-editfeature-layer="::efsCtrl.selectedLayer"
        gmf-editfeature-map="::efsCtrl.map"
        gmf-editfeature-state="efsCtrl.state"
        gmf-editfeature-tolerance="::efsCtrl.tolerance"
        gmf-editfeature-vector="::efsCtrl.vectorLayer"
        gmf-editfeature-wmslayer="::efsCtrl.selectedWMSLayer">
    </gmf-editfeature>

  </div>

</div>
