<div>
  <div ng-switch="efCtrl.feature">
    <a
      ng-switch-when="null"
      ng-if="efCtrl.geomType"
      href
      translate
      ngeo-btn
      ngeo-createfeature
      ngeo-createfeature-active="efCtrl.createActive"
      ngeo-createfeature-features="::efCtrl.features"
      ngeo-createfeature-geom-type="::efCtrl.geomType"
      ngeo-createfeature-map="::efCtrl.map"
      class="btn btn-default"
      ng-class="{active: efCtrl.createActive}"
      ng-model="efCtrl.createActive">
      <span ng-switch="::efCtrl.geomType">
        <span ng-switch-when="Point">
          <span class="gmf-icon gmf-icon-point"></span>
          {{'Draw new point' | translate}}
        </span>
        <span ng-switch-when="LineString">
          <span class="gmf-icon gmf-icon-line"></span>
          {{'Draw new linestring' | translate}}
        </span>
        <span ng-switch-when="Polygon">
          <span class="gmf-icon gmf-icon-polygon"></span>
          {{'Draw new polygon' | translate}}
        </span>
      </span>
    </a>
    <div ng-switch-default>
      <ngeo-modal ng-model="efCtrl.unsavedModificationsModalShown">
        <div class="modal-header">
          <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="{{'Close' | translate}}">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            {{'Unsaved modifications!' | translate}}
          </h4>
        </div>
        <div class="modal-body">
          {{'There are unsaved changes.' | translate}}
        </div>
        <div class="modal-footer">
          <button
              type="button"
              class="btn btn-default"
              data-dismiss="modal"
              ng-click="efCtrl.continueWithoutSaving()">
            {{'Continue without saving' | translate}}
          </button>
          <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal">
            {{'Cancel' | translate}}
          </button>
          <button
              type="button"
              class="btn btn-default"
              data-dismiss="modal"
              ng-click="efCtrl.submit()">
            {{'Save' | translate}}
          </button>
        </div>
      </ngeo-modal>

      <form
        novalidate
        name="form"
        class="form gmf-editfeature-attributes-container"
        ng-if="efCtrl.attributes">
        <div class="row">
          <div class="col-sm-12">
            <a
              class="close"
              ng-click="efCtrl.cancel()"
              ng-disabled="efCtrl.pending"
              title="{{'Cancel modifications | translate'}}"
              href>&times;</a>
          </div>
        </div>
        <ngeo-attributes
          ngeo-attributes-attributes="::efCtrl.attributes"
          ngeo-attributes-disabled="efCtrl.pending"
          ngeo-attributes-feature="::efCtrl.feature">
        </ngeo-attributes>
        <input
          type="submit"
          value="{{'Save' | translate}}"
          class="btn btn-sm btn-default gmf-editfeature-btn-save"
          ng-click="form.$valid && efCtrl.save()"
          ng-disabled="!efCtrl.dirty"
          title="{{'Save modifications | translate'}}"></input>
        <a
          class="btn btn-sm btn-default gmf-editfeature-btn-cancel"
          ng-click="efCtrl.confirmCancel()"
          ng-disabled="efCtrl.pending"
          title="{{'Cancel modifications | translate'}}"
          href>{{'Cancel' | translate}}</a>
        <button
          class="btn btn-sm btn-link gmf-editfeature-btn-delete"
          ng-click="efCtrl.delete()"
          ng-disabled="efCtrl.pending"
          ng-show="efCtrl.featureId"
          title="{{'Delete this feature | translate'}}">
          <span class="fa fa-trash"></span>
          {{'Delete' | translate}}
        </button>
      </form>
    </div>
  </div>
</div>
