<div ng-if="fsCtrl.feature && fsCtrl.type">
  <div class="form-group">
    <input
        ng-model="fsCtrl.getSetName"
        ng-model-options="{getterSetter: true}"
        ng-attr-placeholder="{{'Name' | translate}}"
        class="form-control"/>
  </div>
  <div
      ng-if="fsCtrl.type !== 'Text' && fsCtrl.type !== 'Circle'"
      class="form-group">
        <input
          id="gmf-featurestyle-showlabel"
          type="checkbox"
          ng-model="fsCtrl.getSetShowLabel"
          ng-model-options="{getterSetter: true}"/>
        <label
          ng-switch="fsCtrl.type"
          for="gmf-featurestyle-showlabel"
          class="control-label">
          {{'Display label' | translate}}
        </label>
  </div>
  <div
      ng-if="fsCtrl.type !== 'Text'"
      class="form-group">
      <input
          id="gmf-featurestyle-showmeasure"
          type="checkbox"
          ng-model="fsCtrl.getSetShowMeasure"
          ng-model-options="{getterSetter: true}"/>
      <label
          ng-switch="fsCtrl.type"
          for="gmf-featurestyle-showmeasure"
          class="control-label">
        <span ng-switch-when="Circle">
          {{'Display azimuth and radius' | translate}}
        </span>
        <span ng-switch-when="Polygon">
          {{'Display surface' | translate}}
        </span>
        <span ng-switch-when="Rectangle">
          {{'Display surface' | translate}}
        </span>
        <span ng-switch-when="LineString">
          {{'Display length' | translate}}
        </span>
        <span ng-switch-when="Point">
          {{'Display coordinates' | translate}}
        </span>
      </label>
      <em class="text-muted">
        ({{ fsCtrl.measure }})
      </em>
  </div>
</div>
<div
    ng-if="fsCtrl.feature && fsCtrl.type"
    class="form-horizontal">

  <div class="form-group">
    <div
        ngeo-colorpicker=""
        ngeo-colorpicker-color="fsCtrl.color"
        class="col-md-12">
    </div>
  </div>

  <div
      ng-if="fsCtrl.type === 'Point'"
      class="form-group form-group-nomargin">
    <label class="control-label col-md-4">{{'Size' | translate}}</label>
    <div class="col-md-8">
      <input
          type="range"
          class="form-control"
          min="3"
          max="20"
          step="1"
          ng-model="fsCtrl.getSetSize"
          ng-model-options="{getterSetter: true}"
          />
    </div>
  </div>

  <div
      ng-if="fsCtrl.type === 'Text'"
      class="form-group form-group-nomargin">
    <label class="control-label col-md-4">{{'Size' | translate}}</label>
    <div class="col-md-8">
      <input
          type="range"
          class="form-control"
          min="8"
          max="30"
          step="1"
          ng-model="fsCtrl.getSetSize"
          ng-model-options="{getterSetter: true}"
          />
    </div>
  </div>

  <div
      ng-if="fsCtrl.type === 'Circle' || fsCtrl.type === 'LineString' || fsCtrl.type === 'Polygon' || fsCtrl.type === 'Rectangle'"
      class="form-group form-group-nomargin">
    <label class="control-label col-md-4">{{'Stroke' | translate}}</label>
    <div class="col-md-8">
      <input
          type="range"
          class="form-control"
          min="0.5"
          max="5"
          step="0.5"
          ng-model="fsCtrl.getSetStroke"
          ng-model-options="{getterSetter: true}"
          />
    </div>
  </div>

  <div
      ng-if="fsCtrl.type === 'Circle' || fsCtrl.type === 'Polygon' || fsCtrl.type === 'Rectangle'"
      class="form-group form-group-nomargin">
    <label class="control-label col-md-4">{{'Opacity' | translate}}</label>
    <div class="col-md-8">
      <input
          type="range"
          class="form-control"
          min="0"
          max="1"
          step="0.05"
          ng-model="fsCtrl.getSetOpacity"
          ng-model-options="{getterSetter: true}"
          />
    </div>
  </div>

  <div
      ng-if="fsCtrl.type === 'Text'"
      class="form-group form-group-nomargin">
    <label class="control-label col-md-4">{{'Angle' | translate}}</label>
    <div class="col-md-8">
      <input
          type="range"
          class="form-control"
          min="-180"
          max="180"
          step="22.5"
          ng-model="fsCtrl.getSetAngle"
          ng-model-options="{getterSetter: true}"
          />
    </div>
  </div>

</div>
