<div
    class="form-group"
    ng-switch="fsCtrl.filtrableDataSources.length">
  <span ng-switch-when="0" translate>No filtrable layer available!</span>
  <select
      class="form-control"
      ng-disabled="fsCtrl.aRuleIsActive"
      ng-switch-default
      ng-model="fsCtrl.gmfDataSourceBeingFiltered.dataSource"
      ng-options="dataSource.name | translate for dataSource in fsCtrl.filtrableDataSources">
    <option value="" translate>-- Layer to filter --</option>
  </select>

  <div ng-if="fsCtrl.customRules && fsCtrl.directedRules && fsCtrl.readyDataSource">
    <hr class="gmf-filterselector-separator" />

    <div class="dropdown gmf-filterselector-savedfilters">
      <a
          class="btn btn-link dropdown-toggle ngeo-filter-condition-button"
          ng-class="{disabled: fsCtrl.aRuleIsActive || fsCtrl.gmfSavedFilters.currentDataSourceItems.length === 0}"
          type="button"
          data-toggle="dropdown"
          ng-disabled="fsCtrl.aRuleIsActive || fsCtrl.gmfSavedFilters.currentDataSourceItems.length === 0">
        <span translate>Saved</span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="item in fsCtrl.gmfSavedFilters.currentDataSourceItems">
          <a
              href
              ng-click="fsCtrl.saveFilterLoadItem(item)">
            <span>{{::item.name}}</span>
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a
              href
              ng-click="fsCtrl.saveFilterManage()">
            <span translate>Manage saved filters</span>
          </a>
        </li>
      </ul>
    </div>

    <ngeo-filter
        a-rule-is-active="fsCtrl.aRuleIsActive"
        custom-rules="fsCtrl.customRules"
        datasource="fsCtrl.readyDataSource"
        directed-rules="fsCtrl.directedRules"
        feature-overlay="fsCtrl.featureOverlay"
        map="fsCtrl.map"
        tool-group="fsCtrl.toolGroup">
    </ngeo-filter>

    <div>
      <a
          class="btn btn-link gmf-filterselector-savebtn"
          type="button"
          data-toggle="dropdown"
          ng-click="!fsCtrl.aRuleIsActive && fsCtrl.saveFilterShowModal()"
          ng-disabled="fsCtrl.aRuleIsActive">
        <span class="fa fa-save"></span>
        <span translate>Save</span>
      </a>
    </div>
  </div>

  <ngeo-modal ng-model="fsCtrl.saveFilterSaveModalShown">
    <div class="modal-header">
      <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="{{'Close' | translate}}">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">{{'Save filter' | translate}}</h4>
    </div>
    <div class="modal-body">
      <p class="gmf-filterselector-savefilter-desc" translate>
        You can save the filter that you created to re-load it later.
      </p>
      <input
          type="text"
          class="form-control"
          name="name"
          ng-model="fsCtrl.saveFilterName"
          placeholder="{{'Filter name' | translate}}" />
    </div>
    <div class="modal-footer">
      <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal">{{'Cancel' | translate}}</button>
      <button
          type="button"
          ng-click="fsCtrl.saveFilterSave()"
          ng-disabled="fsCtrl.saveFilterName === ''"
          class="btn btn-primary">{{'Save' | translate}}</button>
    </div>
  </ngeo-modal>

  <ngeo-modal ng-model="fsCtrl.saveFilterManageModalShown">
    <div class="gmf-filterselector-managefilter-modal">
      <div class="modal-header">
        <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="{{'Close' | translate}}">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{'Manage filters' | translate}}</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li ng-repeat="item in fsCtrl.gmfSavedFilters.currentDataSourceItems">
            <span>{{::item.name}}</span>
            <a
                href
                ng-click="fsCtrl.saveFilterRemoveItem(item)">
                {{ 'Delete' | translate }}
            </a>
            <div class="gmf-eol"></div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal">{{'Close' | translate}}</button>
      </div>
    </div>
  </ngeo-modal>

</div>
