<div
    class="form-group"
    ng-switch="fsCtrl.filtrableDataSources.length">
  <span ng-switch-when="0" translate>No filtrable layer available!</span>
  <select
      class="form-control"
      ng-switch-default
      ng-model="fsCtrl.selectedDataSource"
      ng-options="dataSource.name | translate for dataSource in fsCtrl.filtrableDataSources">
    <option value="" translate>-- Layer to filter --</option>
  </select>

  <div ng-if="fsCtrl.customRules && fsCtrl.directedRules && fsCtrl.readyDataSource">
    <hr class="gmf-filterselector-separator" />
    <ngeo-filter
        custom-rules="fsCtrl.customRules"
        datasource="fsCtrl.readyDataSource"
        directed-rules="fsCtrl.directedRules"
        map="fsCtrl.map"
        tool-group="fsCtrl.toolGroup">
    </ngeo-filter>
  </div>
</div>
