<div
    class="form-group"
    ng-switch="fsCtrl.filtrableDataSources.length">
  <span ng-switch-when="0" translate>No filtrable layer available!</span>
  <select
      class="form-control"
      ng-switch-default
      ng-model="fsCtrl.selectedDataSource"
      ng-options="dataSource.name | translate for dataSource in fsCtrl.filtrableDataSources">
    <option value="" translate>-- Layer to filter --</option>
  </select>

  <!-- This is where the ngeo.Filter directive will go... -->
  <div ng-if="fsCtrl.readyDataSource">
    {{ fsCtrl.readyDataSource.name }} is ready to be filtered!
  </div>

</div>
