<div ng-if="::!layertreeCtrl.isRoot" id="node-{{::layertreeCtrl.uid}}" ng-class="[layertreeCtrl.node.children ? 'group' : 'leaf', 'depth-' + layertreeCtrl.depth, gmfLayertreeCtrl.getResolutionStyle(layertreeCtrl.node), gmfLayertreeCtrl.getNoSourceStyle(layertreeCtrl), gmfLayertreeCtrl.getNodeState(layertreeCtrl)]">
  <i ng-if="layertreeCtrl.depth === 1 && gmfLayertreeCtrl.layers.length > 1" class="sortable-handle fa fa-ellipsis-v"></i>
    <a  ng-if="::layertreeCtrl.node.children"
        data-toggle="collapse"
        href="#layer-group-{{::layertreeCtrl.uid}}"
        aria-expanded="{{::layertreeCtrl.node.metadata.isExpanded}}"
        class="fa expand-node fa-fw">
    </a>
  <a href ng-click="::gmfLayertreeCtrl.toggleActive(layertreeCtrl)">
    <span class="layerIcon" ng-if="::!layertreeCtrl.node.children" ng-class="::{'no-layer-icon' : !gmfLayertreeCtrl.getLegendIconURL(layertreeCtrl)}">
      <img ng-if="::(legendIconUrl=gmfLayertreeCtrl.getLegendIconURL(layertreeCtrl))" ng-src="{{::legendIconUrl}}"></img>
    </span>
    <span ng-if="::layertreeCtrl.node.children" ng-class="['fa fa-fw', layertreeCtrl.node.children && !layertreeCtrl.layer.loading ? 'state' : 'fa-refresh fa-spin']"></span>
    <span class="name" title="{{layertreeCtrl.node.name | translate}}">{{layertreeCtrl.node.name | translate}}</span>
  </a>
  <span class="rightButtons">
    <a href="" ng-if="::layertreeCtrl.depth == 1" ng-click="gmfLayertreeCtrl.removeNode(layertreeCtrl.node)">
      <span class="fa fa-trash"></span>
    </a>
    <span ngeo-popover ng-if="::layertreeCtrl.layer && !layertreeCtrl.node.mixed">
      <span ngeo-popover-anchor class="extra-actions fa fa-cog"></span>
      <div ngeo-popover-content>
        <li>
          <i class="fa fa-tint"></i>
          <span for="layer-opactity">{{'Opacity' | translate}}</span>
          <input name="layer-opactity" type="range" min="0" max="1" step="0.01" ng-model="layertreeCtrl.layer.opacity">
        </li>
      </div>
    </span>
    <span class="metadata" ng-if="::layertreeCtrl.node.metadata.metadataUrl">
      <span ng-if="::gmfLayertreeCtrl.openLinksInNewWindow === true">
        <a title="{{'More informations'|translate}}" href="{{::layertreeCtrl.node.metadata.metadataUrl}}" target="blank_"></a>
      </span>
      <span ng-if="::gmfLayertreeCtrl.openLinksInNewWindow !== true">
        <a title="{{'More informations'|translate}}" href="" ng-click="gmfLayertreeCtrl.displayMetadata(layertreeCtrl)"></a>
      </span>
    </span>
    <span class="zoom" title="{{'Zoom to a visible level'|translate}}" ng-click="::gmfLayertreeCtrl.zoomToResolution(layertreeCtrl.node)"></span>
    <span class="legendButton" ng-if="::gmfLayertreeCtrl.getLegendURL(layertreeCtrl) && layertreeCtrl.node.metadata.legend == 'true'">
      <a title="{{'Show/hide legend'|translate}}" data-toggle="collapse" href="#node-{{::layertreeCtrl.uid}}-legend"></a>
    </span>
  </span>
  <span class="legend" ng-if="::gmfLayertreeCtrl.getLegendURL(layertreeCtrl) && layertreeCtrl.node.metadata.legend == 'true'">
    <div id="node-{{::layertreeCtrl.uid}}-legend" class="collapse" ng-class="::[layertreeCtrl.node.metadata.isLegendExpanded ? 'in' : '']">
      <a data-toggle="collapse" href="#node-{{::layertreeCtrl.uid}}-legend">
        <img ng-src="{{gmfLayertreeCtrl.getLegendURL(layertreeCtrl)}}"></img>
      </a>
    </div>
  </span>
</div>
<ul id="layer-group-{{::layertreeCtrl.uid}}"
    ng-if="::layertreeCtrl.node.children"
    ng-class="{collapse: !layertreeCtrl.isRoot, in : layertreeCtrl.node.metadata.isExpanded}"
    ngeo-sortable="::layertreeCtrl.isRoot && gmfLayertreeCtrl.layers"
    ngeo-sortable-options="{handleClassName: 'sortable-handle', draggerClassName: 'dragger', currDragItemClassName : 'curr-drag-item'}">
  <li class="gmf-layertree-node" ng-repeat="node in layertreeCtrl.node.children"
      ng-class="'depth-' + layertreeCtrl.depth"
      ngeo-layertree="node"
      ngeo-layertree-notroot
      ngeo-layertree-map="layertreeCtrl.map"
      ngeo-layertree-nodelayerexpr="layertreeCtrl.nodelayerExpr"
      ngeo-layertree-listenersexpr="layertreeCtrl.listenersExpr">
  </li>
</ul>
