<div class="mobiledisplayqueries" ng-class="[ctrl.open === true ? 'show' : 'hide']">
  <button class="collapse-button" type="button" ng-init="ctrl.collapse = true" ng-click="ctrl.collapse = !ctrl.collapse" ng-class="[ctrl.collapse ? 'up' : 'down']"></button>
  <div class="displayqueries-container">
    <button type="button" class="close" ng-click="ctrl.close()"></button>
    <div class="animation-container" ng-class="[ctrl.collapse ? '' : 'detailed', ctrl.isNext ? 'next' : 'previous']">
      <div ng-animate-swap="ctrl.animate" class="slide-animation">
        <div class="header">
          <p class="title">{{ctrl.source.label}}</p>
          <p class="subtitle">{{ctrl.getFeatureValues()[ctrl.source.identifierAttributeField]}}</p>
        </div>
        <div class="details">
          <table>
            <tr ng-repeat="(key, value) in ctrl.getFeatureValues()" ng-if="value.length">
              <td class="key">{{key}}</td>
              <td class="value">{{value}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="navigate">
      <button type="button" class="previous" ng-click="ctrl.previous()"></button>
      <span>{{ctrl.currentResult + 1}}</span>
      <span>/</span>
      <span>{{ctrl.getResultLength()}}</span>
      <button type="button" class="next" ng-click="ctrl.next()"></button>
    </div>
  </div>
</div>
