<div class="btn-group dropup pull-right">
  <div class="btn btn-sm">
    <span class="fa fa-fw fa-location-arrow"></span>
  </div>
  <div id="mouse-position" class="btn btn-sm" style=""></div>
  <div class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="fa fa-fw fa-ellipsis-v"></span>
  </div>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="projitem in ::ctrl.projections">
      <a href ng-click="ctrl.projection = projitem">
        <span class="fa fa-fw" ng-class="{'fa-check': ctrl.projection == projitem}"></span>
        {{::projitem.label}}
      </a>
    </li>
  </ul>
</div>
