<span>
  <span id="mouse-position"></span>
  <span class="btn-group dropup dropdown-menu-right">
    <span class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span class="fa fa-fw fa-ellipsis-v"></span>
    </span>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="projitem in ::ctrl.projections">
        <a href ng-click="ctrl.setProjection(projitem)">
          <span class="fa fa-fw" ng-class="{'fa-check': ctrl.projection == projitem}"></span>
          {{::projitem.label}}
        </a>
      </li>
    </ul>
  </span>
</span>
