<div class="gmf-routing">
  <input type="text" id="gmfRoutingFrom" ng-model="routeCtrl.startFeatureLabel" readonly />
  <button type="button" id="gmfRoutingFromButton" class="btn btn-default" ng-click="routeCtrl.setStart()">
    <span class="fa fa-map-marker"></span>
  </button><br>

  <input type="text" id="gmfRoutingTo" ng-model="routeCtrl.targetFeatureLabel" readonly />
  <button type="button" id="gmfRoutingToButton" class="btn btn-default" ng-click="routeCtrl.setTarget()">
    <span class="fa fa-map-marker"></span>
  </button><br>

  <button type="button" id="gmfRoutingReverseButton" class="btn btn-default" ng-click="routeCtrl.reverseRoute()">
    <span class="fa fa-exchange"></span> {{'Reverse' | translate}}
  </button><br><br>

  <div id="routingProfile" ng-if="routeCtrl.routingProfiles.length > 1">
    <label for="gmfRoutingProfileSelect">{{'Profile' | translate}}:</label>
    <select id="gmfRoutingProfileSelect"
            name="gmfRoutingProfileSelect"
            ng-model="routeCtrl.selectedRoutingProfile">
      <option ng-repeat="profile in routeCtrl.routingProfiles" ng-value="profile">{{profile.label}}</option>
    </select>
  </div>

  <div id="routingError" ng-hide="routeCtrl.errorMessage === ''">
    {{routeCtrl.errorMessage}}
  </div>

  <div id="routeDuration" ng-hide="routeCtrl.routeDuration === null">
    <strong>{{'Duration' | translate}}:</strong> {{routeCtrl.routeDuration}} {{'minutes' | translate}}
  </div>

  <div id="routeDistance" ng-hide="routeCtrl.routeDistance === ''">
    <strong>{{'Distance' | translate}}:</strong> {{routeCtrl.routeDistance}}
  </div>

  <gmf-nominatim-input
          gmf-nominatim-input-feature="routeCtrl.startFeature_">
  </gmf-nominatim-input>
</div>
