<div class="gmf-routing-feature">
    <div class="input-group">
      <gmf-nominatim-input
              gmf-nominatim-input-value="featureCtrl.feature.values_['name']"
              gmf-nominatim-input-placeholder="{{'Search...' | translate}}"
              gmf-nominatim-input-on-select="featureCtrl.onSelect"
              gmf-nominatim-input-search-default-params="featureCtrl.searchDefaultParams">
      </gmf-nominatim-input>
      <div class="input-group-addon btn"
           ng-click="featureCtrl.set()">
        <span class="fa fa-map-marker"></span>
      </div>
    </div>
</div>
