<div class="gmf-search">
<input type="text" placeholder="{{'Search…' | translate}}"
        class="form-control"
        ng-model="ctrl.input_value"
        ngeo-search="ctrl.options"
        ngeo-search-datasets="ctrl.datasets"
        ngeo-search-listeners="ctrl.listeners">
<span class="clear-button ng-hide"
        ng-hide="!ctrl.clearButton || ctrl.input_value == ''"
        ng-click="ctrl.onClearButton()"></span>
  <input data-ng-model="color" data-ng-change="ctrl.setStyleColor(color)"></input>
</div>
