<div class="modal-header ui-draggable-handle">
  <h4 class="modal-title" translate>Share this map</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
  <form role="form" name="gmfShareForm" novalidate>
    <div class="form-group">
      <label for="gmfShareInputShortLink-{{::$ctrl.uid}}" translate>Permalink</label>
      <input type="text" class="form-control" id="gmfShareInputShortLink-{{::$ctrl.uid}}" onclick="this.select()" ng-model="$ctrl.shortLink" readonly="True">
      <p class="help-block" translate>Copy this link to share it.</p>
      <p class="text-danger" ng-if="$ctrl.showLengthWarning">
        <span class="fa fa-exclamation-triangle"></span>
        {{'You have a lot of drawn elements in this map. The above link may not be correctly supported by some browsers.' | translate}}
      </p>
      <p class="text-danger" ng-if="$ctrl.errorOnGetShortUrl">
        <span class="fa fa-exclamation"></span>
        {{'Error, cannot get the shortened URL.' | translate}}
      </p>
    </div>
    <hr ng-if="::$ctrl.enableEmail">
    <div class="gmf-share-email" ng-if="::$ctrl.enableEmail">
      <div class="form-group">
        <label for="gmfShareInputEmail-{{::$ctrl.uid}}" translate>Send this link to</label>
        <input type="email" class="form-control"  name="inputEmail" id="gmfShareInputEmail-{{::$ctrl.uid}}" placeholder="E-mail" ng-model="$ctrl.email" required>
        <span ng-show="gmfShareForm.$submitted || gmfShareForm.inputEmail.$touched">
          <span class="text-danger" ng-show="gmfShareForm.inputEmail.$error.email || gmfShareForm.inputEmail.$error.required">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{'Invalid email.' | translate}}</span>
        </span>
      </div>
      <div class="form-group">
        <textarea class="form-control" ng-attr-placeholder="{{'Message (optional)' | translate }}" ng-model="$ctrl.message"></textarea>
      </div>
      <span class="text-default" ng-if="!$ctrl.isFinishedState">
        <i class="fa custom-spinner-generic fa-spin">
          <%=require('gmf/icons/spinner.svg?viewbox&height=1rem')%>
        </i>
      </span>
      <span class="text-success" ng-if="$ctrl.successfullySent">
        <i class="fa fa-check" aria-hidden="true"></i>
          {{ 'Link successfully sent.' | translate }}
      </span>
      <span class="text-danger" ng-if="$ctrl.errorOnsend">
        <i class="fa fa-exclamation" aria-hidden="true"></i>
          {{ 'Error, the link has not been sent.' | translate }}
      </span>
    </div>
    <div class="text-right">
      <button type="button" class="btn btn-default" data-dismiss="modal" translate>Close</button>
      <button ng-if="::$ctrl.enableEmail"
        type="submit" class="btn prime"
        ng-click="$ctrl.sendShortUrl()"
        ng-disabled="!gmfShareForm.$valid"
        translate>Send
      </button>
    </div>
  </form>
</div>
