/**
 * Styles shared between the different apps (mobile and desktop).
 */
@import (inline) '../../../node_modules/openlayers/css/ol.css';
@import (inline) '../css/reset.css';
@import '../../../node_modules/bootstrap/less/bootstrap.less';

@import 'vars.less';

html, body {
  height: 100%;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
}
