/**
 * Styles shared between the different apps (mobile and desktop).
 */
@import (inline) '../css/reset.css';
@import '../../../node_modules/bootstrap/less/bootstrap.less';

@import 'vars.less';

html, body {
  height: 100%;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
