/**
 * Entry point for all styles required for the desktop application.
 */
@import 'font.less';
@import 'base.less';
@import 'map.less';
@import 'layertree.less';
@import 'icons.less';
@import 'search.less';

@map-tools-size: 3rem;
@button-size: 4rem;
@left-panel-width: 32rem;
@right-panel-width: 25rem;
@topbar-height: @button-size;
@toolbar-width: @button-size;
@border-color: darken(@brand-primary, @standard-variation);
@search-width: 8 * @map-tools-size;

html, body {
  position: relative;
  height: 100%;
}

body {
  padding-top: @topbar-height;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: @topbar-height;
  z-index: @zindex-navbar-fixed;
  .box-shadow(0px 2px 6px -1px rgba(0, 0, 0, 0.5));
}

main {
  position: relative;
  height: 100%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAAAAABzHgM7AAAAAnRSTlMAAHaTzTgAAAARSURBVHgBY3iKBFEAOp/+MgB+UQnYeBZPWAAAAABJRU5ErkJggg==');
}

.map-container {
  width: auto;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  .gmf-map,
  .gmf-map > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.search {
  position: absolute;
  width: @search-width;

  .clear-button {
    top: 0;
  }

  span.twitter-typeahead {
    &:before {
      // magnifier
      font-size: 1.5rem;
    }

    .tt-menu {
      position: relative!important;
      top: 0!important;
      left: -@app-margin!important;
      border: 1px solid @color;
      border-radius: @half-app-margin;
      width: @search-width;

      .search-header {
        padding: @app-margin;
        padding-left: @app-margin + 2rem + @app-margin;
        display:block;
        font-size: 0.9em;
        background-color: #eee;
        text-transform: uppercase;
        color: #666;
      }

      .search-group {
          display: none;
        }
    }
  }
}

.ol-zoom {
  left: @app-margin;
  top: @app-margin;
}

.data-panel {
  display: block;
  float: left;
  background-color: @brand-secondary;
  width: @left-panel-width;
  height: 100%;
  display: flex;
  flex-flow: column;

  .header {
    flex: 0 1 auto;
  }

  .content {
    flex: 1 1 auto;
    overflow-y: auto;
    margin: @app-margin;
  }

  gmf-themeselector {
    width: 2 * @left-panel-width;
    margin: 0;
    padding: @app-margin;
    padding-right: 0;
    .gmf-theme-selector li {
      padding-right: @app-margin;
      float: left;
      width: 50%;
    }
  }
}

gmf-layertree ul .treenode {
  padding-top: @app-margin;
}


.tools {
  display: block;
  float: right;
  background-color: @brand-secondary;

  .tools-content {
    width: @right-panel-width;
    margin-right: -@right-panel-width + @toolbar-width;
    transition: margin-right 0.2s ease;

    &.active {
      margin-right: @toolbar-width;
    }

    .close {
      padding: 0;
      line-height: @half-app-margin;
      margin-bottom: @app-margin;
    }

    .tools-content-heading {
      @color: lighten(@text-color, @standard-variation);
      color: @color;
      padding-bottom: @app-margin;
      margin-bottom: @app-margin;
      margin-top: @grid-gutter-width / 2;
      border-bottom: 1px solid @color;
    }
  }

  .bar {
    background-color: @brand-primary;
    border-left: 1px solid @border-color;
    width: @toolbar-width;

    float: right;
    height: 100%;
    position: relative;

    > .btn + .btn {
      margin-top: -1px;
    }

    .btn {
      background-color: @brand-primary;
      margin-left: 0;
      border-right-width: 0;
      border-left-width: 0;
      border-radius: 0 !important;
      border-color: @border-color;

      &:hover {
        background-color: lighten(@brand-primary, @standard-variation);
      }

      &.active,
      &:active {
        box-shadow: none;
      }
      &.active {
        background-color: @brand-secondary;
        border-left: 1px solid @brand-secondary;
        margin-left: -1px;
      }
    }
  }
}

.data-panel,
.tools {
  height: 100%;
  position: relative;
}


::-webkit-scrollbar-track {
    -webkit-border-radius: @app-margin;
    border-radius: @app-margin;
    background: @main-bg-color;
}

::-webkit-scrollbar {
    width: @half-app-margin;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: @app-margin;
    border-radius: @app-margin;
    background: @brand-primary;
}
