/**
 * Entry point for all styles required for the desktop application.
 */
@import 'font.less';
@import 'base.less';
@import 'map.less';
@import 'desktoplayertree.less';
@import 'icons.less';
@import 'input-range.less';
@import 'search.less';
@import 'popover.less';
@import 'datepicker.less';
@import 'displayqueries.less';

@map-tools-size: 3rem;
@button-size: 4rem;
@left-panel-width: 32rem;
@right-panel-width: 28rem;
@topbar-height: 4.5rem;
@toolbar-width: 4.5rem;
@border-color: darken(@brand-primary, @standard-variation);
@search-width: 8 * @map-tools-size;

html, body {
  position: relative;
  height: 100%;
  li {
    list-style: none;
  }
}

body {
  padding-top: @topbar-height;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: @topbar-height;
  z-index: @zindex-navbar-fixed;
}

main {
  position: relative;
  height: 100%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAAAAABzHgM7AAAAAnRSTlMAAHaTzTgAAAARSURBVHgBY3iKBFEAOp/+MgB+UQnYeBZPWAAAAABJRU5ErkJggg==');
}

@footer-height: @line-height-computed + 4 * @padding-small-vertical;

.map-container {
  width: auto;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  border-top-color: @btn-default-border;
  border-top-width: 1px;
  border-top-style: solid;
  .gmf-map,
  .gmf-map > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .footer {
    padding: @padding-small-vertical;
    position: absolute;
    z-index: 2;
    bottom:  -@footer-height;
    // prevent footer to be displayed on 2 lines when screen width is small
    max-height: @footer-height;
    background-color: fade(@main-bg-color, 90%);
    width: 100%;
    /* cancel default navbar bottom margin */
    margin-bottom: 0;
    /* buttons or inputs in bar are supposed to be '-sm' */
    transition: 0.2s ease-out all;
    border: solid @border-color;
    border-width: 1px 0 0;
    &.active {
      bottom: 0;
    }
    > div {
      display: inline-block;
    }

    button.map-info {
      position: absolute;
      /* button is supposed to be .btn-sm */
      bottom: @footer-height - 1;
      background-color: fade(@main-bg-color, 80%);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      right: @app-margin;
      border-bottom: 0;
      padding: @half-app-margin @app-margin;
      border: solid @border-color;
      border-width: 1px 1px 0 1px;
    }
  }

  [ngeo-scaleselector] .btn > span {
    min-width: 8rem;
    display: inline-block;
  }

  #scaleline {
    vertical-align: middle;
    .ol-scale-line, .ol-scale-line-inner {
      background-color: transparent;
      bottom: auto;
      position: relative;
    }
  }

  gmf-mouseposition {
    display: inline-block;
  }
  #mouse-position {
    display: inline-block;
    min-width: 18rem;
  }
  .elevation {
    display: inline-block;
  }
  .elevation-value {
    display: inline-block;
    min-width: 8rem;
  }
}

.search {
  position: absolute;

  .clear-button {
    top: 0;
  }

  span.twitter-typeahead {
    &::before {
      // magnifier
      font-size: 1.5rem;
    }

    .tt-menu {
      position: relative!important;
      top: 0!important;
      left: -@app-margin!important;
      border: 1px solid @color;
      border-radius: @border-radius-base;

      .search-header {
        padding: @app-margin;
        padding-left: @app-margin + 2rem + @app-margin;
        display:block;
        font-size: 0.9em;
        background-color: #eee;
        text-transform: uppercase;
        color: #666;
      }

      .search-group {
        display: none;
      }
    }
  }
}

.ol-zoom {
  left: @app-margin;
  top: @app-margin;
}

.data-panel {
  display: block;
  float: left;
  background-color: @brand-secondary;
  width: @left-panel-width;
  height: 100%;
  display: flex;
  flex-flow: column;

  .header {
    flex: 0 1 auto;
  }

  .content {
    flex: 1 1 auto;
    overflow-y: auto;
    position: relative;
  }

  gmf-themeselector {
    width: 2 * @left-panel-width;
    margin: 0;
    padding: @app-margin;
    padding-right: 0;
    .gmf-theme-selector li {
      padding-right: @app-margin;
      float: left;
      width: 50%;
    }
  }
}


.tools {
  display: block;
  float: right;
  background-color: @brand-secondary;

  .tools-content {
    width: @right-panel-width;
    margin-right: -@right-panel-width;
    transition: margin-right 0.2s ease;
    float: right;

    &.active {
      margin-right: 0;
    }

    .close {
      padding: 0;
      line-height: @half-app-margin;
      margin-bottom: @app-margin;
    }

    textarea {
      resize: vertical;
    }

    .tools-content-heading {
      @color: lighten(@text-color, @standard-variation);
      color: @color;
      padding-bottom: @app-margin;
      margin-bottom: @app-margin;
      margin-top: @grid-gutter-width / 2;
      border-bottom: 1px solid @color;
    }
  }

  .bar {
    background-color: @brand-primary;
    border-left: 1px solid @border-color;
    width: @toolbar-width;

    float: right;
    height: 100%;
    position: relative;
    z-index: 2;

    > .btn + .btn {
      margin-top: -1px;
    }

    .btn {
      background-color: @brand-primary;
      margin-left: 0;
      border-right-width: 0;
      border-left-width: 0;
      border-radius: 0 !important;
      border-color: @border-color;

      &:hover {
        background-color: lighten(@brand-primary, @standard-variation);
      }

      &.active,
      &:active {
        box-shadow: none;
      }
      &.active {
        background-color: @brand-secondary;
        border-left: 1px solid @brand-secondary;
        margin-left: -1px;
      }
    }
  }
}

.data-panel,
.tools {
  height: 100%;
  position: relative;
}


::-webkit-scrollbar-track {
  background: @main-bg-color;
}

::-webkit-scrollbar {
  width: @half-app-margin;
}
::-webkit-scrollbar-thumb {
  background: @brand-primary;
}


/**
 * GMF DrawFeature directive
 */
gmf-drawfeature h2 {
  display: none;
}

.gmf-eol {
  clear: both;
}

.gmf-drawfeature-featurelistctn {
  border-top: 1px solid #333;
  margin-top: @app-margin;
  padding: 10px 0 0 0;
}

.gmf-drawfeature-featurelist {
  margin-top: @app-margin;
}


/**
 * NGEO DrawFeature directive & map tooltips
 */
.ngeo-drawfeature-actionbuttons {
  float: right;
  position: relative;
}

.ol-viewport {
  .tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
  }
  .tooltip-measure {
    opacity: 1;
    font-weight: bold;
  }
  .tooltip-static {
    display: none;
  }
  .tooltip-measure:before,
  .tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
  }
  .tooltip-static:before {
    border-top-color: #ffcc33;
  }
}


/**
 * GMF FeatureStyle directive
 */
gmf-featurestyle {
  display: block;
  margin-top: @app-margin;
}


/**
 * Color palette within GMF FeatureStyle directive
 */
.palette {
  border-collapse: separate;
  border-spacing: 0px;

  tr {
    cursor: default;
  }

  td {
    position: relative;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    font-size: 1px;
    cursor: pointer;

    & > div {
      position: relative;
      height: 12px;
      width: 12px;
      border: 1px solid #fff;
      box-sizing: content-box;
    }

    &:hover {
      & > div::after {
        display: block;
        content: '';
        background: inherit;
        position: absolute;
        width: 28px;
        height: 28px;
        top: -10px;
        left: -10px;
        border: 2px solid #fff;
        box-shadow: rgba(0,0,0,0.3) 0 1px 3px 0;
        z-index: 11;
      }
    }

    &.selected > div::after {
      border: 2px solid #444;
      margin: 0;
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
      left: -3px;
      top: -3px;
      box-sizing: content-box;
      z-index: 10;
    }
  }
}


/**
 * Notifications
 */
.ngeo-notification {
  left: 50%;
  margin: 0 0 0 -10rem;
  position: absolute;
  top: 0;
  width: 20rem;
}


/**
 * Controls at the bottom of the map
 */
.map-bottom-controls {
  .infobar-active & {
    bottom: @footer-height;
  }
  transition: 0.2s ease-out bottom;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

/**
 * Background layer button (selector)
 */
.gmf-backgroundlayerbutton {
  position: absolute;
  bottom: @app-margin;
  left: @app-margin;

  button {
    padding: @padding-small-vertical;
  }

  button,
  gmf-backgroundlayerselector {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }

  ul.gmf-backgroundlayerselector {
    margin: 0 0.5rem;
  }
}

.displayqueries {
  position: absolute;
  right: @app-margin;
}

/** Disclaimer */
@bgselector-image-size: 48px;
gmf-disclaimer {
  position: absolute;
  vertical-align: bottom;
  left: ~"calc(2 * @{app-margin} + @{bgselector-image-size} + 2 * @{padding-small-vertical})";
}
