@import 'layertree.less';

gmf-layertree {
  ul {
    padding-top: @micro-app-margin;
  }
  > :first-child {
    margin-right: @half-app-margin;
  }
}

.gmf-layertree-node {

  .rightButtons {
    visibility: hidden;
  }

  &.depth-1 {
    //styling first level node for desktop app
    background-color: @nav-bg;
    box-shadow: 0 0 4px 1px @input-border-focus;

    > ul {
      //adding space after the last li elem of the first level nodes
      padding-bottom: @half-app-margin;
    }

    &:hover {
      .sortable-handle {
        visibility: visible;
      }
    }
  }

  &.dragger {
    * {
      cursor: grabbing;
      cursor: -webkit-grabbing;
    }
    ul {
      display: none;
    }
  }
  &.curr-drag-item {
    * {
      visibility: hidden;
    }
    background-color: transparent;
    border: 1px dashed black;
    ul {
      display: none;
    }
  }

  .group.depth-1 {
      background-color: @main-bg-color;
      padding: @half-app-margin;
  }

  .group:hover,
  .leaf:hover {
    .rightButtons {
      visibility: visible;
    }
  }

  .sortable-handle {
    color:#555;
    cursor: -webkit-grab;
    cursor: grab;
    visibility: hidden;
  }
}
