/**
 * Definitions for icons.
 */
.gmf-icon {
  &:after,
  &:before {
    font-family: gmf-icons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  &.gmf-icon-layers:after {
    content: '\e600';
  }

  &.gmf-icon-list:after {
    content: '\e602';
  }

  &.gmf-icon-map:after {
    content: '\f279';
  }

  &.gmf-icon-map-o:after {
    content: '\f278';
  }

  &.gmf-icon-check:after {
    content: '\e603';
  }

  &.gmf-icon-check-o:after {
    content: '\e604';
  }

  &.gmf-icon-circle:after {
    content: '\e901';
  }

  &.gmf-icon-line:after {
    content: '\e902';
  }

  &.gmf-icon-point:after {
    content: '\e903';
  }

  &.gmf-icon-polygon:after {
    content: '\e904';
  }

  &.gmf-icon-rectangle:after {
    content: '\e905';
  }

  &.gmf-icon-text:after {
    content: '\e906';
  }
}
