/**
 * Definitions for icons.
 */
.gmf-icon {
  &:after,
  &:before {
    font-family: gmf-icons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 2.4rem;
  }

  &.gmf-icon-layers:after {
    content: '\e600';
  }

  &.gmf-icon-list:after {
    content: '\e602';
  }

  &.gmf-icon-map:after {
    content: '\f279';
  }

  &.gmf-icon-map-o:after {
    content: '\f278';
  }

  &.gmf-icon-check:after {
    content: '\e603';
  }

  &.gmf-icon-check-o:after {
    content: '\e604';
  }
}
