@import "../../../node_modules/font-awesome/less/variables.less";

.gmf-layertree-node {
  /**
   * Style rules for treenodes in the layertree
   */
  margin-left: @app-margin; // left shifting (indentation)

  &.depth-1 {
    margin: 0 @micro-app-margin @app-margin @micro-app-margin;
  }

  ul {
    ul {
      //nested ul (i.e node groups into node groups should not add extra padding)
      padding-right: 0;
      li:last-child {
        padding-bottom: 0;
      }
    }
  }

  a {
    color: @color;
    display: inline;
    line-height: inherit;
    padding-left: 0;
    text-decoration: none;

    &.expand-node.fa {
      color : @color-light;
      display: inline-block;
      &::before {
        content: @fa-var-chevron-right;
      }
      &[aria-expanded="true"]::before {
        content: @fa-var-chevron-down;
      }
    }
  }

  .state {
    font-family: gmf-icons;
    color: @color;
  }

  .off,
  .off .legend img {
    opacity: 0.5;
  }

  .leaf,
  .group {
    font-size: @font-size-small;
    position: relative;
    padding: @micro-app-margin;
    display: flex;

    > * {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .leaf .state::after {
    content: "\e603";
  }

  .group {
    padding-left: @half-app-margin;
    .state::after {
      content: "\e600";
    }
    .layer-icon {
      display: none;
    }

    &.depth-1 {
      //styling the header of first level groups
      font-size: @font-size-base;
      .name {
        font-weight: bold;
        color: black;
      }
    }

    &.indeterminate .state::after {
      content: "\e900";
    }
  }

  .layer-icon {
    &.no-layer-icon::after {
      font-family: gmf-icons;
      content: "\e907";
      width: 100%;
      text-align: center;
    }

    width: 20px;
    padding: 0;
    display: flex;

    img {
      // don't let the legend icons images to break the layout by being too
      // tall or too large
      max-width: 100%;
      max-height: 20px;
      vertical-align: initial;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 2;
    padding-left: @half-app-margin;
    padding-right: @half-app-margin;
  }

  .metadata {
    a {
      padding: 0;
      &::after {
        content: @fa-var-info;
        display: inline;
        font-family: FontAwesome;
      }
    }
  }

  .zoom {
    display: none;
    // leave space after text label
    padding-left: 4px;
    &:hover {
      cursor: pointer;
    }
  }

  .out-of-resolution {
    .name {
      font-style: italic;
    }
    .zoom {
      display: inline;
    }
    .right-buttons {
      .legend-button {
        display: none;
      }
    }
    &.leaf .state::after {
      content: "\e604";
    }
  }

  .legend {
    margin: 0 @app-margin;
    position: relative;
    border: 1px solid @main-bg-color;
    background-color: lighten(@main-bg-color, 8%);
    a {
      display: none;
      position: absolute;
      right: @half-app-margin;
      font-size: 1.1rem;

      &::before {
        display: none;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
