gmf-layertree div {
  margin-right: @app-margin;
}
gmf-layertree ul .treenode {
  padding-top: @app-margin;

  ul ul {
    padding-left: 20px;
  }

  a {
    color: @color;
    display: inline;
    line-height: inherit;
    padding-left: 0;
    text-decoration: none;
    &::after {
      display:none;
    }
  }
  .rightButtons *::after {
    background: none;
    color: @map-tools-color;
    display: inline;
    font-family: FontAwesome;
  }
  .state {
    font-family: gmf-icons;
    color: @color;
  }
  .on .state {
    color: @special-link;
  }
  .off, .off .legend img {
    opacity: 0.5;
  }
  .leaf .state::after {
    content: "\e603";
  }

  .group {
    &.depth-1{
      .state::after {
        content: "\e600";
      }
      .layerIcon {
        display: none;
      }
    }
  }

  .layerIcon {
    display: inline-flex;
    height: @app-margin;
    width: 2 * @app-margin;
  }
  .name {
    white-space: normal;
  }
  .rightButtons {
    float: right;
    *::after, *::before {
      background: none;
      position: relative;
      right: initial;
    }
  }
  .metadata {
    a {
      padding: 0;
      &::after {
        content: "\f129";
        display: inline;
        font-family: FontAwesome;
      }
    }
  }
  .zoom {
    display: none;
    &:hover {
      cursor: pointer;
    }
    &::after {
      content: "\f18e";
    }
  }
  .noSource {
    opacity: 0.3;
    &::after {
      content: "(source not available)";
    }
  }
  .outOfResolution {
    .rightButtons {
      .zoom {
        display: inline;
      }
      .legendButton {
        display: none;
      }
    }
    &.leaf .state::after {
      content: "\e604";
    }
  }
  .legendButton {
    a {
      padding: 0;
      &::after {
        content: "\f036";
        transform: initial;
      }
    }
  }
  .legend {
    a::before {
     display: none;
    }
    img {
      padding-left: @app-margin + @half-app-margin;
    }
  }
}
