/**
 * Styles for the map and OL3 controls.
 */
.ol-zoom {
  background-color: transparent;
  padding: 0;
  button {
    margin: 0;
    margin-bottom: @micro-app-margin;
    height: @map-tools-size;
    width: @map-tools-size;
    background-color: @map-tools-bg-color;
    border: solid 1px @border-color;
    color: @map-tools-color;
    &:hover {
      background-color: @onhover-color;
    }
    &:focus {
      background-color: @map-tools-bg-color;
      outline: none;
    }
    &:active {
      outline: none;
    }
  }
  &:hover {
    background-color: transparent;
  }
}

/**
 * Only affects webkit desktop browsers
 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .ol-zoom {
    button {
      &:active {
        background-color: @onhover-color;
        outline: -webkit-focus-ring-color auto 5px;
      }
    }
  }
}

.ol-attribution {
  display:none;
}

.ol-scale-line, .ol-scale-line-inner {
  background-color: @map-tools-bg-color;
  border-color: @border-color;
  border-width: 2px;
  color: @map-tools-color;
}

button[ngeo-mobile-geolocation] {
  background-color: @map-tools-bg-color;
  border: solid 1px @border-color;
  color: @map-tools-color;
  .fa {
    font-size: 2rem;
  }
}

.gmf-theme-selector,
.gmf-backgroundlayerselector {
  list-style: none;

  li {
    width: 100%;
    cursor: pointer;
    padding: @app-margin 0;
    color: @color;
  }

  .gmf-check,
  .gmf-text {
    float: left;
  }

  .gmf-check {
    position: relative;
    height: 1px; // ::after needs a height different of 0
    top: 1rem;
    width: 2rem;
  }

  .gmf-text {
    margin: @app-margin @app-margin @app-margin 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .gmf-thumb {
    height: auto;
    width: 2 * @map-tools-size;
    float: right;
  }

  .gmf-eol {
    clear: left;
  }
}
