.gmf-routing-error {
  color: darkred;
}

.gmf-routing-start .fa-map-marker {
  color: #6BE62E;
  text-shadow: -1px 0 #4CB01E, 0 1px #4CB01E, 1px 0 #4CB01E, 0 -1px #4CB01E;
}

.gmf-routing-destination .fa-map-marker {
  color: #FF3E13;
  text-shadow: -1px 0 #CD3412, 0 1px #CD3412, 1px 0 #CD3412, 0 -1px #CD3412;
}

.gmf-routing-vias .fa-map-marker {
  color: #767676;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

.gmf-nominatim-input {
  height: 30px;
}

/**
 * Typeahead
 */
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
}

.tt-suggestion.tt-is-under-cursor, .tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.gmf-nominatim-input .twitter-typeahead {
  width: 100%;
}

.gmf-routing-vias .form-inline .input-group .form-control {
  width: 185px;
}
