#routingError {
  color: darkred;
}

#gmfRoutingFromButton span {
  font-size: larger;
  color: #6BE62E;
  text-shadow: -1px 0 #4CB01E, 0 1px #4CB01E, 1px 0 #4CB01E, 0 -1px #4CB01E;
}

#gmfRoutingToButton span {
  font-size: larger;
  color: #FF3E13;
  text-shadow: -1px 0 #CD3412, 0 1px #CD3412, 1px 0 #CD3412, 0 -1px #CD3412;
}
