@import "../../../node_modules/font-awesome/less/variables.less";

@search-results-max-height: calc(~"100vh -" 6 * @app-margin);

gmf-search {
  top: @app-margin;
  z-index: @content-index;

  & > * {
    display: inline-block;
    vertical-align: top;
  }

  .gmf-search {
    background-color: @map-tools-bg-color;
    height: @map-tools-size;
    position: relative;
  }
  // hide the native "clear x" in Edge
  input::-ms-clear {
    display: none;
  }
  .gmf-clear-button {
    position: absolute;
    top: @half-app-margin;
    right: @app-margin;
    height: @map-tools-size;
    opacity: 0.5;
    &::after {
      position: absolute;
      content: @fa-var-close;
      color: @map-tools-color;
      font-family: FontAwesome;
      font-size: 2rem;
      right: 0;
    }
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  .gmf-color-button {
    width: @map-tools-size;
    height: @map-tools-size;
    background-color: @map-tools-bg-color;
    border: solid 1px @border-color;
    color: @map-tools-color;
    &:hover {
      background-color: @onhover-color;
    }
  }
  .twitter-typeahead {
    width: 100%;
    height: 100%;
  }
  .form-control {
    box-shadow: none;
    height: 100%;
    padding: @half-app-margin @map-tools-size;
    border: 1px solid @border-color;
    &:focus {
      border-color: @border-color;
      box-shadow: none;
    }
  }

  .gmf-search-is-active & {
    z-index: @search-index;
  }

  .tt-hint {
    display: none;
  }

  .tt-menu {
    width: 100%;
    max-height: @search-results-max-height;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: @map-tools-bg-color;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border: solid 1px @border-color;
    .gmf-search-no-results {
      padding: @app-margin;
      cursor: default;
    }
    border-top: none;
    .gmf-search-header {
      display: none;
    }
    .gmf-search-datum {
      border-bottom: solid 1px @border-color;
      padding: @app-margin;
      text-align: left;
      &:hover, &.tt-cursor {
        cursor: pointer;
        background-color: @onhover-color;
      }
      p {
        margin: 0;
      }
      .gmf-search-label {
        color: @color;
      }
      .gmf-search-group {
        color: @color-light;
        font-size: 80%;
      }
    }
  }
}

// Overrides for small browser widths only
@media (max-width: @screen-xs-max) {
  gmf-search {
    .gmf-search {
      width: 100%;
    }
    .form-control {
      padding-left: @half-app-margin;
    }
  }
}

@search-width: 6 * @map-tools-size;

// Overrides for tablet devices and up
@media (min-width: @screen-sm-min) {
  gmf-search {
    .gmf-search {
      width: @search-width;
    }
    .gmf-clear-button {
      margin-right: @app-margin;
      right: 0;
    }

    span.twitter-typeahead {
      &::before {
        content: @fa-var-search;
        font-family: FontAwesome;
        color: @color;
        position: absolute;
        font-size: 2rem;
        top: @half-app-margin;
        left: @app-margin;
      }
    }
  }
}
