<div
  class="text-center btn-group dropup"
  gmf-elevation
  gmf-elevation-active="ctrl.active"
  gmf-elevation-elevation="ctrl.elevationValue"
  gmf-elevation-loading="ctrl.elevationLoading"
  gmf-elevation-layer="ctrl.selectedElevationLayer"
  gmf-elevation-layersconfig="::ctrl.options.layersconfig"
  gmf-elevation-map="::ctrl.map"
  ng-show="::ctrl.show"
>
  <a
    class="btn btn-default"
    aria-expanded="false"
    ng-class="::{'dropdown-toggle': ctrl.options.layers.length > 1}"
    ng-attr-data-toggle="{{::(ctrl.options.layers.length > 1) ? 'dropdown' : ''}}"
  >
    <span class="gmf-elevationwidget-value">
      {{ctrl.elevationValue}}
      <span ng-show="ctrl.elevationLoading" class="fa fa-spin custom-spinner-generic"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1rem" height="1rem">
          <circle
            cx="256"
            cy="48"
            r="48"
            style="
              opacity: 1;
              fill-opacity: 1;
              stroke: #000;
              stroke-width: 0;
              stroke-miterlimit: 4;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
          />
          <circle
            cx="109.17"
            cy="108.313"
            r="43"
            style="
              opacity: 1;
              fill-opacity: 1;
              stroke: #000;
              stroke-width: 0;
              stroke-miterlimit: 4;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
          />
          <circle
            cx="46.537"
            cy="257.328"
            r="38"
            style="
              opacity: 1;
              fill-opacity: 1;
              stroke: #000;
              stroke-width: 0;
              stroke-miterlimit: 4;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
          />
          <circle
            cx="108.028"
            cy="403.972"
            r="33"
            style="
              opacity: 1;
              fill-opacity: 1;
              stroke: #000;
              stroke-width: 0;
              stroke-miterlimit: 4;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
          />
          <circle
            cx="255.794"
            cy="463.935"
            r="28"
            style="
              opacity: 1;
              fill-opacity: 1;
              stroke: #000;
              stroke-width: 0;
              stroke-miterlimit: 4;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
          />
          <circle
            cx="402.894"
            cy="402.936"
            r="23"
            style="
              opacity: 1;
              fill-opacity: 1;
              stroke: #000;
              stroke-width: 0;
              stroke-miterlimit: 4;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
          />
          <circle
            cx="463.623"
            cy="256.106"
            r="18"
            style="
              opacity: 1;
              fill-opacity: 1;
              stroke: #000;
              stroke-width: 0;
              stroke-miterlimit: 4;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
          /></svg
      ></span>
      <span ng-show="!ctrl.elevationValue && !ctrl.elevationLoading" translate>Raster</span> </span
    ><span class="caret" ng-if="::ctrl.options.layers.length > 1"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right" role="menu" ng-if="::ctrl.options.layers.length > 1">
    <li class="dropdown-header" translate>Data source</li>
    <li ng-repeat="elevationItem in ::ctrl.options.layers">
      <a href ng-click="ctrl.selectedElevationLayer = elevationItem">
        <span class="fa fa-fw" ng-class="{'fa-check': ctrl.selectedElevationLayer === elevationItem}"></span>
        {{elevationItem | translate}}
      </a>
    </li>
  </ul>
</div>
