<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <script src="https.js"></script>
    <title>Attributes example</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="lib/ngeo.css" type="text/css">
    <link rel="stylesheet" href="lib/bootstrap.min.css" type="text/css">
  </head>
  <body ng-controller="MainController as ctrl">

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p id="desc">
            This example shows how to use the <code>ngeo-attributes</code>
            directive, which binds a form to the inner properties of a
            <code>ol.Feature</code> object. Changes made through the form are
            applied to the feature and vice-versa. Try playing with the form
            or click
            <input
                type="button"
                ng-click="ctrl.updateName()"
                value="Change name" >
            </input>
            to change the name. You can also
            <label for="disable">Disable the form</label>
            <input id="disable" type="checkbox" ng-model="ctrl.disabled" />.
          </p>
        </div>
        <div class="col-sm-6">
          <form name="form">
            <ngeo-attributes
              ng-if="ctrl.attributes"
              ngeo-attributes-attributes="::ctrl.attributes"
              ngeo-attributes-disabled="ctrl.disabled"
              ngeo-attributes-feature="::ctrl.feature">
            </ngeo-attributes>
          </form>
        </div>
      </div>
    </div>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-gettext.min.js"></script>
    <script src="lib/date.min.js"></script>
    <script src="lib/angular-floatThead.js"></script>
    <script src="lib/jquery.floatThead.min.js"></script>
    <script src="lib/proj4.js"></script>
    <script src="lib/transpile.js"></script>
    <script src="attributes.js"></script>
    <script src="lib/watchwatchers.js"></script>
  </body>
</html>
