<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <script src="https.js"></script>
    <title>Modal example</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="lib/ngeo.css" type="text/css">
    <link rel="stylesheet" href="lib/bootstrap.min.css" type="text/css">
    <style>
      #map {
        width: 600px;
        height: 400px;
      }
    </style>
  </head>
  <body ng-controller="MainController as ctrl">
    <p id="desc">This example shows how to use the <code><a href="../apidoc/ngeo.modalDirective.html" title="Read our documentation">ngeo-modal</a></code> directive to open a modal.</p>
    <button ng-click="ctrl.modalShown = true">Show modal</button>
    <ngeo-modal ng-model="ctrl.modalShown">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </ngeo-modal>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-gettext.min.js"></script>
    <script src="lib/date.min.js"></script>
    <script src="lib/angular-floatThead.js"></script>
    <script src="lib/jquery.floatThead.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/proj4.js"></script>
    <script src="lib/transpile.js"></script>
    <script src="modal.js"></script>
    <script src="lib/watchwatchers.js"></script>
  </body>
</html>
