<fieldset ng-disabled="attrCtrl.disabled">
  <div
      class="form-group"
      ng-repeat="attribute in ::attrCtrl.attributes">
    <div ng-if="attribute.type !== 'geometry'">
      <label
          ng-if="::attribute.type !== 'boolean'"
          class="control-label">{{ ::attribute.name | translate }} <span class="text-muted">{{::attribute.required ? "*" : ""}}</span>
      </label>
      <div ng-switch="::attribute.type">

        <div
            ng-switch-when="boolean"
            class="checkbox">
          <label>
            <input
                name="{{::attribute.name}}"
                ng-model="attrCtrl.properties[attribute.name]"
                ng-change="attrCtrl.handleInputChange(attribute.name);"
                type="checkbox">
            </input>
            <span> {{ ::attribute.name | translate }} <span class="text-muted">{{::attribute.required ? "*" : ""}}</span></span>
          </label>
        </div>

        <select
            name="{{::attribute.name}}"
            ng-required="attribute.required"
            ng-switch-when="select"
            ng-model="attrCtrl.properties[attribute.name]"
            ng-change="attrCtrl.handleInputChange(attribute.name);"
            class="form-control"
            type="text">
          <option
              ng-repeat="attribute in ::attribute.choices"
              value="{{ ::attribute }}">
            {{ ::attribute }}
          </option>
        </select>

        <input
            name="{{::attribute.name}}"
            ng-required="attribute.required"
            ng-switch-when="date"
            ng-model="attrCtrl.properties[attribute.name]"
            ng-change="attrCtrl.handleInputChange(attribute.name);"
            ngeo-datetimepicker
            ngeo-datetimepicker-options="'{&quot;timepicker&quot;: false, &quot;format&quot;: &quot;' + attribute.format + '&quot;, &quot;allowBlank&quot;: true, &quot;todayButton&quot;: false, &quot;mask&quot;: &quot;' + attribute.mask + '&quot;}'"
            class="form-control"
            type="text">
        </input>

        <input
            name="{{::attribute.name}}"
            id="time"
            ng-required="attribute.required"
            ng-switch-when="time"
            ng-model="attrCtrl.properties[attribute.name]"
            ng-change="attrCtrl.handleInputChange(attribute.name);"
            ngeo-datetimepicker
            ngeo-datetimepicker-options="'{&quot;datepicker&quot;: false, &quot;format&quot;: &quot;' + attribute.format + '&quot;, &quot;todayButton&quot;: false, &quot;mask&quot;: &quot;' + attribute.mask + '&quot;, &quot;defaultTime&quot;: &quot;00:00&quot;}'"
            class="form-control"
            type="text">
        </input>

        <input
            name="{{::attribute.name}}"
            ng-required="attribute.required"
            ng-switch-when="datetime"
            ng-model="attrCtrl.properties[attribute.name]"
            ng-change="attrCtrl.handleInputChange(attribute.name);"
            ngeo-datetimepicker
            ngeo-datetimepicker-options="'{&quot;scrollTime&quot;: false, &quot;format&quot;: &quot;' + attribute.format + '&quot;, &quot;allowBlank&quot;: true, &quot;todayButton&quot;: false, &quot;mask&quot;: &quot;' + attribute.mask + '&quot;, &quot;defaultTime&quot;: &quot;00:00&quot;}'"
            class="form-control"
            type="text">
        </input>

        <div
            ng-switch-when="number"
            ng-switch="::attribute.numType">
          <input
              name="{{::attribute.name}}"
              ng-required="attribute.required"
              ng-switch-when="integer"
              ng-model="attrCtrl.properties[attribute.name]"
              ng-change="attrCtrl.handleInputChange(attribute.name);"
              class="form-control"
              step="1"
              type="number">
          </input>
          <input
              name="{{::attribute.name}}"
              ng-required="attribute.required"
              ng-switch-default
              ng-model="attrCtrl.properties[attribute.name]"
              ng-change="attrCtrl.handleInputChange(attribute.name);"
              class="form-control"
              type="number">
          </input>
        </div>

        <input
            name="{{::attribute.name}}"
            ng-required="attribute.required"
            ng-switch-default
            ng-model="attrCtrl.properties[attribute.name]"
            ng-change="attrCtrl.handleInputChange(attribute.name);"
            ng-maxlength="attribute.maxLength"
            class="form-control"
            type="text">
        </input>

        <div ng-show="attrCtrl.form.$submitted || attrCtrl.form[attribute.name].$touched">
          <p class="text-danger"
             ng-show="attrCtrl.form[attribute.name].$error.required">
            {{'This field is required' | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</fieldset>
