<!doctype html>
<html ng-app="gmfapp">
  <head>
    <title>GeoMapFish Datepicker example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
    <meta name="mobile-web-app-capable" content="yes" />
  </head>
  <body ng-controller="MainController as ctrl">
    <p id="desc">
      This example shows how to use the <code>ngeo-datetimepicker</code> directive with the gmf WMS time
      service in order to format the date for WMS.
    </p>
    <ul>
      <li>
        <p>Select a period with a datepicker</p>
        <p>
          From:
          <input
            ng-model="ctrl.onDateStartSelected"
            ng-model-options="{getterSetter: true}"
            ngeo-datetimepicker
            ngeo-datetimepicker-options="{timepicker: false, format: 'Y-m-d', minDateTime: ctrl.wmsTimeRangeMode.minValue, maxDateTime: ctrl.wmsTimeRangeMode.maxValue}"
          />
          To:
          <input
            ng-model="ctrl.onDateEndSelected"
            ng-model-options="{getterSetter: true}"
            ngeo-datetimepicker
            ngeo-datetimepicker-options="{timepicker: false, format: 'Y-m-d', minDateTime: ctrl.wmsTimeRangeMode.minValue, maxDateTime: ctrl.wmsTimeRangeMode.maxValue}"
          />
        </p>
      </li>

      <li style="margin-top: 50px">
        Date formatted for a WMS request (resolution set on 'day'):
        <pre>
          {{ctrl.rangeValue}}
        </pre>
      </li>

      <li>
        <p>Select a single date with a datepicker</p>
        <p>
          Date:
          <input
            ng-model="ctrl.onDateSelected"
            ng-model-options="{getterSetter: true}"
            ngeo-datetimepicker
            ngeo-datetimepicker-options="{timepicker: false, format: 'Y-m-d', minDateTime: ctrl.wmsTimeValueMode.minValue, maxDateTime: ctrl.wmsTimeValueMode.maxValue}"
          />
        </p>
      </li>

      <li style="margin-top: 50px">
        Date formatted for a WMS request (resolution set on 'month'):
        <pre>
          {{ctrl.value}}
        </pre>
      </li>
    </ul>

    <script type="text/javascript" src="../../dist/vendor.js"></script>
  </body>
</html>
