gmf-map > div {
    width: 800px;
    height: 400px;
    max-width: 100%;
}
[ngeo-btn-group] {
    padding: 5px;
}
gmf-map .tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}
gmf-map .ngeo-tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
gmf-map .ngeo-tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}
gmf-map .ngeo-tooltip-measure:before,
gmf-map .ngeo-tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: '';
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
gmf-map .ngeo-tooltip-static:before {
    border-top-color: #ffcc33;
}
