@import "~ol/ol.css"
@import "~bootstrap/dist/css/bootstrap.css"

gmf-map > div {
  width: 600px;
  height: 400px;
}

/* Display queries */
.gmf-displayquerywindow {
  max-height: 400px;
  width: 350px;
  max-width: 350px;
  margin-left: -175px;
  position: fixed;
  top: 20px;
  right: 0px;
}
.gmf-displayquerywindow button {
  background: none;
  border: none;
  font-family: FontAwesome;
  width: 32px;
}
.gmf-displayquerywindow button.close {
  padding: 5px 5px 0 0;
}
.gmf-displayquerywindow .gmf-displayquerywindow-collapse-button {
  background-color: white;
  border: solid 1px black;
  border-bottom-width: 0;
  border-radius: 4px 4px 0 0;
  line-height: 0.5;
  height: 28px;
  width: 48px;
  margin-left: calc(50% - 24px);
}
.gmf-displayquerywindow-collapse-button-up:after {
  content: "\f077";
}
.gmf-displayquerywindow-collapse-button-down:after {
  content: "\f078";
}
.gmf-displayquerywindow-container {
  background-color: white;
  border: solid 1px black;
}
.gmf-displayquerywindow-animation-container {
  position: relative;
  overflow: hidden;
  height: 60px;
  margin: 0 15px;
  transition: 0.3s ease-in all;
}
.gmf-displayquerywindow-animation-container-detailed {
  height: 160px;
}
.gmf-displayquerywindow-animation-container .gmf-displayquerywindow-slide-animation {
  height: 100%;
  padding: 5px 5px 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.gmf-displayquerywindow-slide-animation.ng-enter, .gmf-displayquerywindow-slide-animation.ng-leave {
  transition: 0.3s ease-in all;
}
/* Left to right animation */
.gmf-displayquerywindow-next .gmf-displayquerywindow-slide-animation.ng-enter {
  left: 100%;
}
.gmf-displayquerywindow-next .gmf-displayquerywindow-slide-animation.ng-enter-active {
  left: 0;
}
.gmf-displayquerywindow-next .gmf-displayquerywindow-slide-animation.ng-leave {
  left: 0;
}
.gmf-displayquerywindow-next .gmf-displayquerywindow-slide-animation.ng-leave-active {
  left: -100%;
}
/* Right to left animation */
.gmf-displayquerywindow-previous .gmf-displayquerywindow-slide-animation.ng-enter {
  left: -100%;
}
.gmf-displayquerywindow-previous .gmf-displayquerywindow-slide-animation.ng-enter-active {
  left: 0;
}
.gmf-displayquerywindow-previous .gmf-displayquerywindow-slide-animation.ng-leave {
  left: 0;
}
.gmf-displayquerywindow-previous .gmf-displayquerywindow-slide-animation.ng-leave-active {
  left: 100%;
}
.gmf-displayquerywindow-title {
  font-weight: bold;
}
.gmf-displayquerywindow-subtitle {
  margin-left: 10px;
  height: 2ex;
}
.gmf-displayquerywindow-details {
  height: 65%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 10px;
  padding-bottom: 10px
}
.gmf-displayquerywindow-details table {
  font-size: 0.9em;
}
.gmf-displayquerywindow-details-key {
  padding-right: 25px;
}
.gmf-displayquerywindow-slide-animation.ng-enter-active .gmf-displayquerywindow-details-value {
  white-space: nowrap;
}
.gmf-displayquerywindow-navigate {
  border-top: solid 1px black;
  text-align: center;
  margin-top: 10px;
  padding-top: 5px;
  height: 32px;
}
.gmf-displayquerywindow-navigate .gmf-displayquerywindow-previous {
  float: left;
}
.gmf-displayquerywindow-navigate .gmf-displayquerywindow-previous:after {
  content: "\f053";
}
.gmf-displayquerywindow-navigate .gmf-displayquerywindow-next {
  float: right;
}
.gmf-displayquerywindow-navigate .gmf-displayquerywindow-next:after {
  content: "\f054";
}
@media (max-width: 768px) {
  .gmf-displayquerywindow {
    width: 100%;
    max-width: 100%;
    margin-left: -50%;
    top: initial;
    bottom: 0;
  }
}
