{{::layertreenodeCtrl.node.name}}
<input type="checkbox" ng-if="::!layertreenodeCtrl.node.children"
    ng-model="layertreenodeCtrl.getSetActive" ng-model-options="{getterSetter: true}"/>
<button ng-if="::!layertreenodeCtrl.node.children"
        ng-click="ctrl.onButtonClick(layertreenodeCtrl.node, layertreenodeCtrl.layer)">i</button>
<ul ng-if="::layertreenodeCtrl.node.children">
  <li ng-repeat="node in ::layertreenodeCtrl.node.children"
      ngeo-layertreenode="::node" ngeo-layertreenode-map="::layertreenodeCtrl.map"
      ngeo-layertreenode-layerexpr="layertreenodeCtrl.layerExpr">
  </li>
</ul>
