main {
  position: relative;
  background-color: @color3;
  min-height: 100vh;
  z-index: @content-index;
  padding-top: 120px;
  text-align: center;

  transform: translateZ(0);
  transition: transform .3s;
  will-change: transform;
  .nav-left-is-visible & {
    transform: translateX(@nav-width);
  }
  .nav-right-is-visible & {
    transform: translateX(-@nav-width);
  }

  .overlay {
    /* shadow layer visible when navigation is active */
    position: fixed;
    z-index: @above-content-index;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: fade(@color2, 80%);
    visibility: hidden;
    opacity: 0;

    .transition(opacity .3s, visibility .3s;);
    .backface-visibility(hidden);

    .nav-is-visible & {
      visibility: visible;
      opacity: 1;
    }
  }
}

.nav-trigger {
  position: absolute;
  top: 10px;
}
.nav-left-trigger {
  left: 10px;
}
.nav-right-trigger {
  right: 10px;
}

@nav-bar-height: 50px;

nav, nav ul {
  position: fixed;
  top: 0;
  width: @nav-width;
  height: 100%;
  background-color: @nav-bg;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: @below-content-index;

  transform: translateZ(0);
  transition: transform .3s;
}

nav > ul {
  margin-top: @nav-bar-height;
}

nav.nav-left,
nav.nav-left  > ul {
  .nav-left-is-visible & {
    visibility: visible;
    .transition(visibility 0s);
  }
}
nav.nav-right,
nav.nav-right  > ul {
  .nav-right-is-visible & {
    visibility: visible;
    .transition(visibility 0s);
  }
}

nav {
  &,
  > ul {
    /* by default .cd-primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
    visibility: hidden;
    .transition(visibility 0s .3s);
  }

  header {
    display: block;
    height: @nav-bar-height;
    line-height: @nav-bar-height;
    background-color: @nav-header-bg;
    text-align: center;
  }

  @menu-item-height: @nav-bar-height;
  ul a {
    display: block;
    height: @menu-item-height;
    line-height: @menu-item-height;
    padding: 0 20px;
    color: @nav-links;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  a {
    transform: translateZ(0);
    will-change: transform, opacity;
    transition: transform .3s, opacity .3s;
  }

  .is-hidden {
    transform: translateX(100%);
  }
  .moves-out {
    & > li > a {
      transform: translateX(-20%);
      opacity: 0;
    }
  }

  .has-children > a,
  .go-back {
    position: relative;

    &::before, &::after {
      /* arrow icon in CSS - for element with nested unordered lists */
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -1px;
      display: inline-block;
      height: 2px;
      width: 10px;
      background: darken(@nav-bg, 20%);
      .backface-visibility(hidden);
    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  .has-children > a {
    padding-right: 40px;
    &::before, &::after {
      /* arrow goes on the right side - children navigation */
      right: 20px;
      transform-origin: 9px 50%;
    }
  }

  .go-back {
    position: absolute;
    left: 0;
    height: @nav-bar-height;
    padding-left: 40px;
    &::before, &::after {
      /* arrow goes on the right side - children navigation */
      left: 20px;
      transform-origin: 1px 50%;
    }
  }
}

.nav-left {
  left: 0;
  right: auto;
}

.nav-right {
  right: 0;
}
