<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>Attributes example</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../node_modules/openlayers/css/ol.css" type="text/css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css" type="text/css">
    <style>

    </style>
  </head>
  <body ng-controller="MainController as ctrl">

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p id="desc">
            This example shows how to use the <code>ngeo-attributes</code>
            directive, which binds a form to the inner properties of a
            <code>ol.Feature</code> object. Changes made through the form are
            applied to the feature and vice-versa. Try playing with the form
            or click
            <input
                type="button"
                ng-click="ctrl.updateName()"
                value="Change name" >
            </input>
            to change the name.
          </p>
        </div>
        <div class="col-sm-6">
          <ngeo-attributes
            ng-if="ctrl.attributes"
            ngeo-attributes-attributes="::ctrl.attributes"
            ngeo-attributes-feature="::ctrl.feature">
          </ngeo-attributes>
        </div>
      </div>
    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-gettext/dist/angular-gettext.js"></script>
    <script src="/@?main=attributes.js"></script>
    <script src="default.js"></script>
    <script src="../utils/watchwatchers.js"></script>
  </body>
</html>
