<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>GoogleStreetView Example</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../node_modules/openlayers/css/ol.css" type="text/css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.css" type="text/css">

    <style>
      ngeo-googlestreetview {
        display: block;
      }
      ngeo-googlestreetview,
      #map {
        border: 1px solid #666666;
        height: 40rem;
        float: left;
        margin: 0.5rem;
        width: 60rem;
      }

      .desc {
        clear: both;
        margin: 1rem;
      }

    </style>
  </head>
  <body ng-controller="MainController as ctrl">
    <div id="map" ngeo-map="ctrl.map"></div>
    <ngeo-googlestreetview
        active="ctrl.googleStreetViewActive"
        feature-style="ctrl.style"
        map="ctrl.map"
        radius="ctrl.radius">
    </ngeo-googlestreetview>

    <div class="desc">
      <p id="desc">
        This example shows how to use the <code>ngeo-googlestreetview</code>
        component.
      </p>

      <div class="panel panel-default panel-body">
        <input
            type="checkbox"
            id="checkbox-googlestreetview"
            ng-model="ctrl.googleStreetViewActive" />
        <label for="checkbox-googlestreetview"> GoogleStreetView</label>

        <input type="checkbox"
               id="checkbox-dummy"
               ng-model="ctrl.dummyActive" />
        <label for="checkbox-dummy"> Dummy tool</label>
      </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyD71KlyTCXJouZsGbgPCJ-oCtK76fZJUTQ"></script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-touch/angular-touch.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../node_modules/angular-gettext/dist/angular-gettext.js"></script>
    <script src="../node_modules/angular-ui-date/dist/date.js"></script>
    <script src="../node_modules/angular-float-thead/angular-floatThead.js"></script>
    <script src="../node_modules/floatthead/dist/jquery.floatThead.min.js"></script>
    <script src="../node_modules/proj4/dist/proj4.js"></script>
    <script src="/@?main=googlestreetview.js"></script>
    <script src="default.js"></script>
    <script src="../utils/watchwatchers.js"></script>
  </body>
</html>
