
.ngeo-grid-table-container {
  height: 154px;
  overflow: auto;
}

.table {
  background-color: white;
  width: 100%;
}

.table th {
  cursor: pointer;
}

.ngeo-grid-table-container > .table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table > tbody > tr.ngeo-grid-active > td {
  background-color: #C9C9C9;
}
