
#map {
  width: 800px;
  height: 400px;
}

ul {
  padding: 0;
}
li {
  list-style: none;
  margin: 5px;
  background-color: white;
  border: 1px solid;
  padding: 5px;
  width: 250px;
}
li:hover .sortable-handle {
  opacity: 1;
}
.sortable-handle {
  opacity: 0.3;
  margin-right: 10px;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
.sortable-dragger {
  -webkit-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.5);
}
.placeholder {
  border: 1px dashed black;
}
