
#map {
  width: 600px;
  height: 400px;
}
button[ngeo-mobile-geolocation]:after {
  content: 'Toggle tracking'
}
.ngeo-notification {
  left: 50%;
  margin: 0 0 0 -100px;
  position: absolute;
  top: 0;
  width: 200px;
}
