<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>Modal example</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../node_modules/openlayers/css/ol.css" type="text/css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css" type="text/css">
    <style>
      #map {
        width: 600px;
        height: 400px;
      }
    </style>
  </head>
  <body ng-controller="MainController as ctrl">
    <p id="desc">This example shows how to use the <code>ngeo-modal</code> directive to open a modal.</p>
    <button ng-click="ctrl.modalShown = true">Show modal</button>
    <ngeo-modal ng-model="ctrl.modalShown">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </ngeo-modal>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/@?main=modal.js"></script>
    <script src="default.js"></script>
    <script src="../utils/watchwatchers.js"></script>
  </body>
</html>
