#map {
    position: relative;
}
ngeo-offline div {
    z-index: 1;
}
ngeo-offline .main-button {
    position: absolute;
    right: 10px;
    bottom: 50px;
    cursor: pointer;
}
ngeo-offline .main-button .no-data {
    color: black;
}
ngeo-offline .main-button .with-data {
    color: red;
}
ngeo-offline .main-button .no-data,
ngeo-offline .main-button .with-data {
    background-color: white;
    text-align: center;
    font-size: 30px;
    line-height: 20px;
    border-radius: 20px;
}

ngeo-offline .validate-extent {
    position: absolute;
    bottom: 5px;
    width: 100px;
    left: calc(50% - 50px);
}
ngeo-offline .in-progress {
    position: absolute;
    left: calc(50% - 33px);
    top: calc(50% - 33px);
    color: white;
    font-weight: bold;
    background-color: #337ab7;
    padding: 20px 20px;
    border-radius: 10px;
}
ngeo-offline .modal-content {
    width: 300px;
}
ngeo-offline .modal-body button {
    display: block;
    margin: 5px auto;
    width: 250px;
}
.offline-msg {
    display: none;
}
.offline .offline-msg {
    display: block;
}
