$map-tools-size: 2.50rem !default;
$border-color: black !default;

$notification-width: 12.5rem !default;

/* nav */
$duration: 0.3s;
$app-margin: 0.62rem !default;
$nav-bar-height: $map-tools-size + $app-margin !default;
$nav-back-width: 1.5 * $map-tools-size !default;
$menu-item-height: $nav-bar-height !default;
$nav-bg: white !default;
$standard-variation: 15% !default;
$back-color: darken($nav-bg, $standard-variation) !default;

@import '~gmf/sass/vars.scss';

:root {
  --back-color: #{$back-color};
}
