/**
 * Styles shared between the different apps (mobile and desktop).
 */
@import '~ol/ol.css';
@import '~gmf/css/reset.css';
@import '~bootstrap/scss/bootstrap.scss';


html, body {
  height: 100%;
}

body {
  overflow: hidden;
}

footer {
  position: relative;
  z-index: $above-content-index;
}

a {
  text-decoration: none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.pull-right {
  float: right;
}

.btn.prime {
  background-color: $brand-primary;
  border-color: darken($brand-primary, 10%);
  color: white;
}

.btn.btn-default {
  background-color: $map-tools-bg-color;
  border-color: darken($map-tools-bg-color, 20%);
  color: $map-tools-color;
}

/**
 * The blur filter is used to avoid the loading icon to shake on firefox.
 * See: https://github.com/FortAwesome/Font-Awesome/issues/671
 */
.fa-refresh {
  filter: blur(0);
}

.list-group-sm .list-group-item {
  padding: $padding-small-vertical $padding-small-horizontal;
}

.input-sm, select.input-sm {
  height: inherit;
  line-height: inherit;
}

i, cite, em, var, address, dfn {
  font-style: italic;
}

.small {
  font-size: 90%;
}

// removes the margin at the bottom of a form-group
// useful for groups with a range
.form-group-nomargin {
  margin-bottom: 0;
}

.col-form-label {
  font-weight: normal;
}

.modal-content {
  border-radius: 0;
}

.modal-body, .modal-header {
  padding: 0.62rem;
}

.modal-title {
  font-weight: bold;
  font-size: inherit;
  line-height: 1;
}

.ui-draggable {
  cursor: grab;
  cursor: -webkit-grab;
  cursor:-moz-grab;

  &.ui-draggable-dragging {
    cursor: move;

    iframe {
      display: none;
    }
  }
}

.ui-resizable {
  &.ui-resizable-resizing {
    iframe {
      display: none;
    }
  }
}
