/**
 * Fonts definition
 */
@font-face {
  font-family: "gmf-icons";
  src: url("~gmf/fonts/gmf-icons.eot");
  src: url("~gmf/fonts/gmf-icons.eot?#iefix") format("embedded-opentype"),
       url("~gmf/fonts/gmf-icons.woff") format("woff"),
       url("~gmf/fonts/gmf-icons.ttf") format("truetype"),
       url("~gmf/fonts/gmf-icons.svg#gmf-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
