.loading-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $above-all;
  width: 100%;
  height: 100%;

  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:100%;
  padding: 10px;
  img {
    max-width: 100%;
  }
}
.spinner-loading-mask {
  color: $brand-primary;
  color: var(--brand-primary);
  font-size: 3rem;
}
