 ngeo-mapswipe {
   display: block;
   height: 100%;
   position: absolute;
   width: 100%;
   z-index: 2;
 }

@mixin track() {
  background: none;
  border: 0;
  height: 100%;
}

ngeo-mapswipe div {
  height: 100%;
  vertical-align: middle;
  width: 100%;

  .swipe-input {
    appearance: none;
    background: none;
    height: 100%;
    opacity: 0.7;
    outline: none;
    pointer-events: none;
    transition: opacity 0.2s;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-transition: 0.2s;
  }

  [type="range"].swipe-input {
    &::-webkit-slider-thumb {
      appearance: none;
      background: url("image/right-and-left-arrows-square-button.png")
        $brand-primary;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      border: $border;
      cursor: pointer;
      height: 100%;
      padding-left: 10px;
      pointer-events: auto;
      width: 25px;
      -webkit-appearance: none;
    }

    &::-webkit-slider-runnable-track {
      @include track;
    }
    &::-moz-range-track {
      width: 100%;
      @include track;
    }
    &::-ms-track {
      @include track;
    }

    &::-moz-range-progress {
      background: transparent;
    }

    &::-moz-range-thumb {
      appearance: none;
      background: url("image/right-and-left-arrows-square-button.png")
        $brand-primary;
      background-position: center;  
      background-size: 100%;
      background-repeat: no-repeat;
      border: $border;
      box-sizing: border-box;
      cursor: pointer;
      height: 100%;
      padding-left: 10px;
      pointer-events: auto;
      width: 25px;
      -moz-appearance: none;
    }
    &::-ms-thumb {
      margin-top: 0;
    }

    &::-ms-tooltip {
      display: none;
    }

    &::-moz-focus-outer {
      border: 0;
    }

    &:hover {
      opacity: 1;
    }
  }
}
