
ngeo-mapswipe {
  position: absolute;
  z-index: 2;
  width: 100%;
}

ngeo-mapswipe .swipe-input {
  background: none;
  height: 0;
  opacity: 0.7;
  outline: none;
  pointer-events: none;
  transition: opacity 0.2s;
  -webkit-appearance: none;
  -webkit-transition: 0.2s;
  width: 100%;

  &::-webkit-slider-runnable-track {
    background: none;
    height: none;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    border: 1px solid $border-color;
    cursor: pointer;
    height: 900px;
    pointer-events: auto;
    -webkit-appearance: none;
    width: 25px;
    background: url("image/right-and-left-arrows-square-button.png") $brand-primary;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    margin-left: -10px;
  }

  &:hover {
    opacity: 1;
  }
}

ngeo-mapswipe div {
  vertical-align: middle;
  width: 100%;
  position: absolute;
  top: 0;
}
