<!DOCTYPE>
<html ng-app='app'>
  <head>
    <title>Layer manager example</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="ngeo.css" type="text/css">
    <style>
        #map {
          width: 100%;
          height: 400px;
        }
        input[type=range] {
            width: auto;
        }
        .catalog-item {
            display: block;
        }
        .main-container {
            margin: 15px;
        }
    </style>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css" type="text/css">
  </head>
  <body ng-controller="MainController as ctrl">

    <div id="map" ngeo-map="ctrl.map"></div>

    <div class="main-container row" ng-cloak>
        <div class="col-md-offset-1 col-md-2">
          <h3>Layer catalog</h3>
          <label ng-repeat="layer in ::ctrl.layers" class="catalog-item">
              <input type="checkbox" ng-model="layer.inmap" />
              {{layer.get('label')}}
          </label>
        </div>
        <div class="col-md-3">
            <h3>Layer manager</h3>
          <div layer-manager="::ctrl.map"></div>
        </div>
    </div>

    <script src="angular.min.js"></script>
    <script src="ngeo.js"></script>
    <script src="layermanager.js"></script>
  </body>
</html>

