<!DOCTYPE html>
<html ng-app='gmfapp'>
  <head>
    <title>Draw Feature Example</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="mobile-web-app-capable" content="yes">

  <link href="drawfeature.css" rel="stylesheet"></head>
  <body ng-controller="MainController as ctrl">
    <gmf-map gmf-map-map="::ctrl.map"></gmf-map>

    <input type="checkbox"
       id="checkbox-drawfeature"
       ng-model="ctrl.drawFeatureActive" />
    <label for="checkbox-drawfeature"> DrawFeature</label>

    <input type="checkbox"
       id="checkbox-pointermove"
       ng-model="ctrl.pointerMoveActive" />
    <label for="checkbox-pointermove"> PointerMove</label>
    <span id="pointermove-feature"></span>

    <h2>Draw & Measure</h2>

    <gmf-drawfeature
      ng-show="ctrl.drawFeatureActive === true"
      gmf-drawfeature-active="ctrl.drawFeatureActive"
      gmf-drawfeature-map="::ctrl.map">
    </gmf-drawfeature>

    <p id="desc">
      This example shows how to use the <code>gmf-drawfeature</code>
      directive to create, modify and delete vector features on a map and
      style them as we please.
    </p>
  <script type="text/javascript" src="commons.js"></script><script type="text/javascript" src="drawfeature.js"></script></body>
</html>
