:root {
  --link-color: #60809f;
  --link-hover-color: #435a70;
  --input-border-focus: #6d90b1;
  --input-border-focus-darken: #496a89;
  --border-color: #6d90b1;
  --main-bg-color-09: rgba(226, 227, 223, 0.9);
  --main-bg-color-08: rgba(226, 227, 223, 0.8);
  --table-border-color: #6d90b1;
  --hover-background-color: #d1dce7;
  --input-btn-focus-color: rgba(159, 182, 204, 0.25);
  --input-height-base: 2rem;
  --brand-secondary-dark: #a4b5c5;
  --brand-primary: #9fb6cc;
  --brand-secondary: #d3dbe3;
  --theme-selector-column-width: 8rem;
  --theme-selector-columns: 3;
  --width: 2.5rem;
  --border: solid 0.1rem;

  --left-panel-width: 20rem;
  --app-margin: 0.62rem;
  --icon-font-size: 1.25rem;
  --border: 0.06rem solid;
  --input-height-base: 1.88rem;
  --padding-base-vertical: 0.32rem;
  --padding-small-vertical: 0.36rem;
  --border-radius-base: 0;
  --right-panel-width: 17.5rem;
  --right-panel-width-googlestreetview: 25rem;
  --right-panel-width-mapillary: 25rem;
  --input-height: calc(1.5em + 0.5rem + 2px);
  --grid-gutter-width: 1.88rem;
  --infobar-height: 3rem;

  --nav-bg: white;
  --color: #555;
  --color-light: #7b7b7b;
  --color-04: rgba(85, 85, 85, 0.4);
  --nav-header-bg: gray;
  --map-tools-bg-color: white;
  --map-tools-color: black;
  --onhover-color: #d9d9d9;
  --onhover-color-darken: #b3b3b3;
  --main-bg-color: #e2e3df;
  --main-bg-color-lighten: #f4f5f3;
  --main-bg-color-09: rgba(226, 227, 223, 0.9);
  --main-bg-color-08: rgba(226, 227, 223, 0.8);
  --light-box-shadow-color: rgba(0, 0, 0, 0.1);
  --eavy-box-shadow-color: rgba(0, 0, 0, 0.3);
  --gmf-gray-dark: #333333;
  --btn-default-border: #ccc;
  --danger-color: #dc3545;
}
