# yaml-language-server: $schema=https://raw.githubusercontent.com/camptocamp/c2cciutils/1.7.5/c2cciutils/schema-applications.json

transifex/cli:
  type: tar
  get-file-name: tx-linux-amd64.tar.gz
  tar-file-name: tx
  to-file-name: tx
  finish-commands:
    - - chmod
      - +x
      - tx
    - - tx
      - --version
