.ngeo-routing-error {
    color: darkred;
}

.map-marker {
    display: block;
    transform: rotate(90deg);
}

.ngeo-routing-start .map-marker {
    color: #6be62e;
    text-shadow: -1px 0 #4cb01e, 0 1px #4cb01e, 1px 0 #4cb01e, 0 -1px #4cb01e;
}

.ngeo-routing-destination .map-marker {
    color: #ff3e13;
    text-shadow: -1px 0 #cd3412, 0 1px #cd3412, 1px 0 #cd3412, 0 -1px #cd3412;
}

.ngeo-routing-vias .map-marker {
    color: #767676;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

/**
 * Typeahead
 */
.tt-menu {
    background-color: #fff;
    border: 1px solid #ccc;
}

.tt-suggestion.tt-is-under-cursor,
.tt-suggestion:hover {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

.ngeo-nominatim-input .twitter-typeahead {
    width: 100%;
    background: #fff;
}

.ngeo-routing-vias .form-inline .input-group .form-control {
    width: 185px;
}
