<?js
var data = obj || {};
if (data.description) {
?>
<div class="param-desc">
    <?js= description ?>
</div>
<?js } ?>

<?js if (data.typeDefinitionUrl) {?>
<dl>
    <dt>
        Type
    </dt>
    <dd>
        <?js= data.typeDefinitionUrl ?>
    </dd>
</dl>
<?js } ?>
