<?js
var data = obj || {};
?>
<div class="param-desc">
<?js if (data.typeDefinitionUrl) { ?>
    <?js= data.typeDefinitionUrl ?>
<?js } ?>
<?js if (data.description) { ?>
    <?js= data.description ?>
<?js } ?>
</div>
