<div class="gmf-displayquerygrid panel" ng-show="ctrl.active">
  <div
    class="close"
    ng-click="ctrl.clear()">
    &times;
  </div>

  <ul
    class="nav nav-pills"
    role="tablist">

    <li
      ng-repeat="gridSource in ctrl.getGridSources() track by gridSource.source.label"
      role="presentation"
      ng-class="{'active' : ctrl.isSelected(gridSource)}"
      ng-click="ctrl.selectTab(gridSource)">

      <a
        href="#{{ctrl.escapeValue(gridSource.source.label)}}"
        data-target="#{{ctrl.escapeValue(gridSource.source.label)}}"
        aria-controls="{{ctrl.escapeValue(gridSource.source.label)}}"
        role="tab"
        data-toggle="tab">

        <span ng-if="gridSource.source.tooManyResults !== true">
          {{gridSource.source.label | translate}} ({{gridSource.source.features.length}})
        </span>
        <span ng-if="gridSource.source.tooManyResults === true">
          {{gridSource.source.label | translate}} ({{gridSource.source.totalFeatureCount}}*)
        </span>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div
      ng-repeat="gridSource in ctrl.getGridSources() track by gridSource.source.label"
      role="tabpanel"
      class="tab-pane"
      ng-class="{'active' : ctrl.isSelected(gridSource)}"
      id="{{ctrl.escapeValue(gridSource.source.label)}}">

      <ngeo-grid
        ngeo-grid-configuration="gridSource.configuration"
        ng-if="gridSource.source.tooManyResults !== true">
      </ngeo-grid>

      <div ng-if="gridSource.source.tooManyResults === true">
        <div class="gmf-displayquerygrid-message alert alert-warning">
          <p><span translate>The results can not be displayed because the maximum number has been reached</span> ({{gridSource.source.limit}}).</p>
          <p translate>Please refine your query.</p>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="!ctrl.pending && ctrl.getActiveGridSource() && ctrl.getActiveGridSource().configuration !== null">

    <ul class="nav justify-content-end">

      <li
        class="ng-hide"
        ng-show="ctrl.isOneSelected()">
        <p class="navbar-text ng-binding">
          {{ctrl.getSelectedRowCount()}} <span translate>selected element(s)</span>
        </p>
      </li>

      <li
        ng-show="ctrl.isOneSelected()"
        class="ng-hide">
        <button
          class="btn btn-link btn-sm"
          title="{{'Zoom to selection' | translate}}"
          ng-click="ctrl.zoomToSelection()">
          <i class="fa fa-search-plus"></i> <span translate>Zoom to</span>
        </button>
      </li>

      <li
        ng-show="ctrl.isOneSelected()"
        class="ng-hide">
        <button
          class="btn btn-link btn-sm"
          title="{{'Export selection as CSV' | translate}}"
          ng-click="ctrl.downloadCsv()">
          <i class="fa fa-download"></i> <span translate>Export as CSV</span>
        </button>
      </li>

      <li class="navbar-link">
        <button
          type="button"
          class="dropup btn btn-default btn-sm dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          <span translate>Select</span>
        </button>
        <ul
          class="dropdown-menu"
          aria-labelledby="dLabel">
          <li>
            <a
              href=""
              ng-click="ctrl.selectAll()" translate>All</a>
          </li>
          <li>
            <a
              href=""
              ng-click="ctrl.unselectAll()" translate>None</a>
          </li>
          <li>
            <a
              href=""
              ng-click="ctrl.invertSelection()" translate>Reverse selection</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div
    ng-show="ctrl.pending"
    class="gmf-displayquerygrid-pending">
    <span class="fa fa-spinner fa-spin"></span>
  </div>
</div>
