name: Backport

on:
  pull_request:
    types:
      - closed
      - labeled

jobs:
  backport:
    runs-on: ubuntu-18.04
    timeout-minutes: 5
    name: Backport
    steps:
      - uses: camptocamp/backport-action@master
